<div class='row'>
  <div class='span5'>
<h2>Look Card</h2>
<%= form_for(@object) do |f| %>
<table class="data-list table table-bordered table-striped" id="pay_credit_cards" style='width:auto;'>
  <tr>
    <td class='table-header'>ID: </td><td><%= @object.id %></td>
  </tr>
  <tr>
    <td class='table-header'>Card type:</td><td><%= @object.card_type %></td>
  </tr>
  <tr>
    <td class='table-header'>Card number:</td><td><%= @object.card_number %></td>
  </tr>
  <tr>
    <td class='table-header'>Name:</td><td><%= @object.full_name %></td>
  </tr>
  <tr>
    <td class='table-header'>Valid date:</td><td><%= @object.valid_date %></td>
  </tr>
  <tr>
    <td class='table-header'>CVV</td><td><%= @object.csc %></td>
  </tr>
  <tr>
    <td class='table-header'>Tel</td><td><%= @object.telephone.tel if @object.telephone %></td>
  </tr>
  <tr>
    <td class='table-header'>Address</td>
    <td>
      <% if @object.address %>
      <%= @object.address.address1 %><br />
      <%= @object.address.state %>, <%= @object.address.country %> ZIP: <%= @object.address.zipcode %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class='table-header'>Prof code</td><td><%= f.text_field :prof_code %></td>
  </tr>
  <tr>
    <td class='table-header'>Status</td><td><%= @object.status %></td>
  </tr>
</table>
<p>
  <%= hidden_field_tag :lookcard, '1' %>
  <a href='#' class='btn btn-info' onclick='submit_this_form(this);'><i class='icon-ok'></i> Look Card Done</a>
</p>
<% end %>
</div>
<% order = @object.order %>
<div class='span5'>
  <h2>Order detail</h2>
<table class="data-list table table-bordered table-striped" id="pay_credit_cards" style='width:auto;'>
  <tr>
    <td class='table-header'>Order# </td><td><%= order.order_number %></td>
  </tr>
  <tr>
    <td class='table-header'>Tour</td>
    <td>
      <%= order.schedule.tour.description.title %><br />
      <%= order.schedule.tour.description.title_cn %> <br />
      <%= order.schedule.departure_date %> ~ <%= order.schedule.return_date %>
    </td>
  </tr>
  <tr>
    <td class='table-header'>Rooms</td><td><%= order.order_price.num_rooms %></td>
  </tr>
  <tr>
    <td class='table-header'>PAX</td><td><%= order.order_price.num_total %></td>
  </tr>
  <tr>
    <td class='table-header'>Amount</td><td><%= order.order_price.actual_amount %></td>
  </tr>
  <tr>
    <td class='table-header'>Created at</td><td><%= order.created_at %></td>
  </tr>
</table>
<% user = order.order_detail.user_info %>
<h3>User info</h3>
<table class='table table-bordered'>
  <tr>
    <td class='table-header'>Name:</td>
    <td><%= user.full_name %></td>
  </tr>
  <tr>
    <td class='table-header'>Email:</td>
    <td><%= user.user.email %></td>
  </tr>
</table>
</div>
</div>

