<%= form_for(@object, :url => object_url(@parent) + '/bus_reserved_dates' + (@object.id ? "/#{@object.id}" : ''), :remote => true) do |f| %>
  <div class="container">
  	<div class='span-8'>
	  <%= f.field_container :reason do %>
	  	<%= f.label :reason %><br />
	  	<%= f.text_field :reason %>
	  <% end %>
    <%= f.field_container :from_date do %>
      <%= f.label :from_date %><br />
      <%= f.text_field :from_date, :class => 'date-picker' %>
    <% end %>
      <%= f.field_container :to_date do %>
        <%= f.label :to_date %><br />
        <%= f.text_field :to_date, :class => 'date-picker' %>  	
      <% end %>
	  </div>
	  <div class='span-8 last'>
    </div>   
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


