<%= form_for( @object, :remote => true) do |f| %>
  <%= hidden_field_tag :edit_div, params[:edit_div] %>
  <%= hidden_field_tag :short, params[:short] %>
  <b>User ID: <%= @object.id %></b>
  <div class="container">
        <% if params[:agent_id] %>
        <%= f.hidden_field :user_data_type, :value => 'Agent' %>
        <%= f.hidden_field :user_data_id, :value => params[:agent_id] %>
        <% end %>
  	<div class='span-7'>
	  <%= f.field_container :full_name do %>
	  	<%= f.label :full_name %><br />
	  	<%= f.text_field :full_name %>
	  <% end %>
	  <%= f.field_container :status do %>
	  	<%= f.label :status %><br />
	  	<%= f.text_field :status %>
	  <% end %>
	  </div>
	  <div class='span-9 last'>
	  	<% if @object.user %>
	  	<p>email(login): <%= @object.user.email %></p>
	  	<p>sign_in_count: <%= @object.user.sign_in_count %></p>
	  	<p>last_sign_in: <%= @object.user.last_sign_in_at %></p>
	  	<p>created at: <%= @object.user.created_at %></p>
	  	<% end %>

	  	Telephones:
      <%= add_object_js_link 'Add', f, :telephones, 'form_tel', '#tels'  %>
      <br /> 
      <div id='tels'>
        <%= f.fields_for :telephones do |tel_form| %>
        	<%= render :partial => 'form_tel', :locals => { :f => tel_form} %>
        <% end %>
      </div><hr />
	  	Emails:
      <%= add_object_js_link 'Add', f, :emails, 'form_email', '#emails'  %>
      <br /> 
      <div id='emails'>
        <%= f.fields_for :emails do |email_form| %>
        	<%= render :partial => 'form_email', :locals => { :f => email_form} %>
        <% end %>
      </div>
      <hr />
	  	
	  	Addresses:
      <%= add_object_js_link 'Add', f, :addresses, 'form_address', '#addresses'  %>
      <br /> 
      <div id='addresses'>
        <%= f.fields_for :addresses do |adr_form| %>
        	<%= render :partial => 'form_address', :locals => { :f => adr_form} %>
        <% end %>
      </div>

	 	</div>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
