.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title 
        Edit User ##{@object.id}
    .modal-body
      %div{:style => "min-height: 367px;"}
        = simple_form_for(@object, :remote => true) do |f|
          .row
            - if params[:agent_id]
              = f.hidden_field :user_data_type, :value => 'Agent'
              = f.hidden_field :user_data_id, :value => params[:agent_id]
            .col-md-4
              = f.input :full_name
              = f.input :status
              - if @object.user
                %p
                  email(login): #{@object.user.email}
                %p
                  sign_in_count: #{@object.user.sign_in_count}
                %p
                  last_sign_in: #{@object.user.last_sign_in_at}
                %p
                  created at: #{@object.user.created_at}
            .col-md-8
              Telephones:
              = add_object_js_link 'Add', f, :telephones, 'form_tel', '#tels'
              %br/
              #tels
                = f.fields_for :telephones do |tel_form|
                  = render :partial => 'form_tel', :locals => { :f => tel_form}
              Emails:
              = add_object_js_link 'Add', f, :emails, 'form_email', '#emails'
              %br/
              #emails
                = f.fields_for :emails do |email_form|
                  = render :partial => 'form_email', :locals => { :f => email_form}
              Addresses:
              \#{add_object_js_link 'Add', f, :addresses, 'form_address', '#addresses'}
              %br/
              #addresses
                = f.fields_for :addresses do |adr_form|
                  = render :partial => 'form_address', :locals => { :f => adr_form}
    .modal-footer
      / icon_link 'User details', user_info_photos_path(@object), :target => 'edit-win', :icon => 'icon-list-alt', :class => 'pull-left'
      %button.btn.btn-default{"data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
