<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit User #<%= @object.id %></h3>
</div>
<div class="modal-body">
  <div style='min-height: 367px;'>
    <%= form_for( @object, :remote => true) do |f| %>
  <%= hidden_field_tag :edit_div, params[:edit_div] %>
  <%= hidden_field_tag :short, params[:short] %>
  <div class="row">
        <% if params[:agent_id] %>
        <%= f.hidden_field :user_data_type, :value => 'Agent' %>
        <%= f.hidden_field :user_data_id, :value => params[:agent_id] %>
        <% end %>
  	<div class='span4'>
	  <%= f.field_container :full_name do %>
	  	<%= f.label :full_name %>
	  	<%= f.text_field :full_name %>
	  <% end %>
	  <%= f.field_container :status do %>
	  	<%= f.label :status %>
	  	<%= f.text_field :status %>
	  <% end %>
	  </div>
	  <div class='span4'>
	  	<% if @object.user %>
	  	<p>email(login): <%= @object.user.email %></p>
	  	<p>sign_in_count: <%= @object.user.sign_in_count %></p>
	  	<p>last_sign_in: <%= @object.user.last_sign_in_at %></p>
	  	<p>created at: <%= @object.user.created_at %></p>
	  	<% end %>

	  	Telephones:
      <%= add_object_js_link 'Add', f, :telephones, 'form_tel', '#tels'  %>
      <br /> 
      <div id='tels'>
        <%= f.fields_for :telephones do |tel_form| %>
        	<%= render :partial => 'form_tel', :locals => { :f => tel_form} %>
        <% end %>
      </div>
	  	Emails:
      <%= add_object_js_link 'Add', f, :emails, 'form_email', '#emails'  %>
      <br /> 
      <div id='emails'>
        <%= f.fields_for :emails do |email_form| %>
        	<%= render :partial => 'form_email', :locals => { :f => email_form} %>
        <% end %>
      </div>
	  	
	  	Addresses:
      <%= add_object_js_link 'Add', f, :addresses, 'form_address', '#addresses'  %>
      <br /> 
      <div id='addresses'>
        <%= f.fields_for :addresses do |adr_form| %>
        	<%= render :partial => 'form_address', :locals => { :f => adr_form} %>
        <% end %>
      </div>

	 	</div>
	</div>
<% end %>
</div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>


