  <tr id="<%= dom_id row %>">
      <td><%= row.id %></td>
      <td><%= row.full_name %></td>
      <td><%= row.user_type %></td>
      <td><%= row.status %></td>
      <td><%= row.created_at %></td>
      <td><%= row.updated_at %></td>
    <td class="actions">
      <%= link_to 'Edit', edit_user_info_path(row), :remote => true %> |
      <%= link_to 'Photos', user_info_photos_path(row), {:target => 'edit-win'} %> |
      <%= link_to 'Hide', user_info_path(row), :remote => true, 'data-method' => 'delete', 'data-confirm' => 'Are you sure to hide/show this User?' %>
    </td>
  </tr>
