<tr id="<%= dom_id row%>" <%= 'class=deleted' if !row.status || row.status < 1 %>>
  <td class='cell-middle'><%= row.id %></td>
  <td><%= row.full_name %></td>
  <td><%= row.user_type %></td>
  <td><%= row.status %></td>
  <td><%= row.created_at %></td>
  <td><%= row.updated_at %></td>
  <td class="cell-middle">
    <div class='btn-group'>
      <%= row_link_to_edit row %>
      <%= row_link_to_photo user_info_photos_path(row) %>
      <%= row_link_to_hide row %>
    </div>
  </td>
</tr>
