= content_for :breadcrumbs do
  %li Orders
  %li.active Users

%h1.page-header
  Users
  %small all customers.

%section
  .panel.panel-inverse
    .panel-heading
      .btn-group.pull-right
        = link_to_new 'New user', 'user_infos/new'
      %h4.panel-title Users
    .panel-body
      = search_form_for @q, class: 'inline-form search-form' do |f|
        .input-group.col-md-2
          = f.text_field :full_name_or_telephone_or_email_cont, class: 'form-control ', placeholder: 'Search by name/tel/email'
          .input-group-btn
            = search_button
      = will_paginate(@collection)
      %table#list_user_infos.data-list.table.table-bordered.table-striped
        %thead
          %tr.table-header
            %th= t("id")
            %th= t("full_name")
            %th= t("tel")
            %th= t('email')
            %th= t('created_at')
            %th= t('updated_at')
            %th op
        %tbody
          - @collection.each do |obj|
            = render :partial => 'row', :object => obj
      = will_paginate(@collection)
