<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Orders <span class="divider">/</span></li>
    <li class="active">Users</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= form_for( @search, :url => user_infos_path ) do |f| %>
    <div class='input-prepend input-append'>
      <%= f.text_field :full_name_contains, :size => 15, :class => 'data-field' %>
      <%= search_button %>
      <%= link_to_new 'New user', 'user_infos/new' %>
    </div>
  <% end %>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_user_infos">
  <thead>
    <tr class='table-header'>
      <th><%= t("id") %></th>
      <th><%= t("full_name") %></th>
      <th><%= t("user_type") %></th>
      <th><%= t('status') %></th>
      <th><%= t('created_at') %></th>
      <th><%= t('updated_at') %></th>
      <th>op</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |obj| %>
      <%= render :partial => 'row', :object => obj %>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>
</section>
