#header.header.navbar.navbar-default.navbar-fixed-top
  / begin container-fluid
  .container-fluid
    / begin mobile sidebar expand / collapse button
    .navbar-header
      %a.navbar-brand{:href => "#{$redis.get('admin_path')}"}
        %image{src: '/pics/website/logo.png'}

      %button.navbar-toggle{"data-click" => "sidebar-toggled", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / end mobile sidebar expand / collapse button
    / begin header navigation right
    - msg_cnt = current_employee.employee_info.message_receipts.where(status: 0).count
    %ul.nav.navbar-nav.navbar-right
      %li
        %form.navbar-form.full-width
          .form-group
            %input.form-control{:placeholder => "Enter keyword", :type => "text"}
              %button.btn.btn-search{:type => "submit"}
                %i.fa.fa-search
      %li.dropdown
        %a.dropdown-toggle.f-s-14{"data-toggle" => "dropdown", :href => "javascript:;"}
          %i.fa.fa-bell-o
          - if msg_cnt > 0
            %span.label= msg_cnt
        %ul.dropdown-menu.media-list.pull-right.animated.fadeInDown
          %li.dropdown-header Notifications (#{msg_cnt})
          - current_employee.employee_info.message_receipts.each do |receipt|
            %li.media
              %a{:href => "#{message_path(receipt.message)}"}
                .pull-left
                  %img.media-object{:alt => "", :src => "/admin/assets/img/user-1.jpg"}/
                .media-body
                  %h6.media-heading= receipt.message.creator
                  %p= receipt.message.message_title
                  .text-muted= time_ago_in_words receipt.message.created_at
          %li.dropdown-footer.text-center
            %a{:href => "javascript:;"} View more
      %li.dropdown.navbar-user
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
          = cl_image_tag(current_employee.employee_info.title_photo.public_id, :width => 30, :height => 30, :crop => :thumb, :gravity => :face, :radius => :max) if current_employee.employee_info.title_photo
          %span.hidden-xs= current_employee.employee_info.nickname
          %b.caret
        %ul.dropdown-menu.animated.fadeInLeft
          %li.arrow
          %li= link_to 'Edit Profile', employees_path
          %li
            %a{:href => "javascript:;"}
              %span.badge.badge-danger.pull-right 2
              Inbox
          %li
            %a{:href => "javascript:;"} Calendar
          %li
            %a{:href => "javascript:;"} Setting
          %li.divider
          %li= link_to('Log Out', '/employees/sign_out')
    / end header navigation right
  / end container-fluid
