- year = 2015

.cal-zone
  %h2.zone-title
    = link_to 'Prev', params.merge(year: year - 1), class: 'btn btn-success btn-sm'
    = year
    %a.btn.btn-success.btn-mini{:href => 'lnk_next'}
      Next year
      %i.icon-arrow-right

  - (1..12).each do |month|
    - dt = Date.parse "#{year}.#{month}.1"
    - st = 1
    - ds = Time.days_in_month(month, year)
    .calendar
      .cal-month
        .cal-title= dt.strftime("%B")
        .cal-days-container
          .cal-days
            .cal-headers
              .cal-header Su
              .cal-header Mo
              .cal-header Tu
              .cal-header We
              .cal-header Th
              .cal-header Fr
              .cal-header Sa
            - dt.wday.times do
              .cal-day &nbsp;
            - (1..ds).each do |day|
              - tag = "#{year}-#{'%02i' % month}-#{'%02i' % day}"
              .cal-day{id: "#{tag}", 'data-toggle': "tooltip", class: ('past-day' if Date.new(year, month, day) < Date.today)}= link_to day, "javascript:cal_day_event('#{tag}');"
        .clear
  .clear
