= f.fields_for :description do |desc|
  .row
    .col-md-6
      .form-group
        = desc.label :title
        = desc.text_field :title, class: 'form-control'
    .col-md-6
      .form-group
        = desc.label :title_cn
        = desc.text_field :title_cn, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = desc.label :en
        = desc.text_area :en, :class => 'html-editor', :style => 'width:100%;'
    .col-md-6
      .form-group
        = desc.label :cn
        = desc.text_area :cn, :class => 'html-editor', :style => 'width:100%;'
