- ml = File.read('admin_menu.dat')
- boss = EmployeeInfo.find(2)
/ begin #sidebar
#sidebar.sidebar
  / begin sidebar scrollbar
  %div{"data-height" => "100%", "data-scrollbar" => "true"}
    / begin sidebar user
    %ul.nav
      %li.nav-profile
        .image
          %a{:href => "javascript:;"}
            = cl_image_tag(boss.title_photo.public_id, :width => 30, :height => 30, :crop => :thumb, :gravity => :face, :radius => :max) if boss.title_photo
        .info
          = boss.nickname
          %small Boss
    / end sidebar user
    / begin sidebar nav
    %ul.nav
      %li.nav-header Navigation
      %li
        %a{href: "#{$redis.get(:admin_path)}"}
          %i.fa.fa-laptop
          %span Dashboard
      %li{class: "#{current_path.include?('messages') ? 'active' : ''}" }
        %a{href: "#{$redis.get(:admin_path)}/messages"}
          - msg_cnt = current_employee.employee_info.message_receipts.where(status: 0).count
          %span.badge.pull-right= msg_cnt
          %i.fa.fa-inbox
          %span
            Messages
            - if msg_cnt > 0
              %span.label.label-theme.m-l-5
                NEW
      - ml.split('>').each do |cat|
        - next if cat.empty?
        - arr = cat.split("\n")
        %li.has-sub{class: "#{current_path.include?(arr[0]) ? 'active' : ''}"}
          %a{:href => "javascript:;"}
            %i.fa.fa-suitcase
            %b.caret.pull-right
            %span= arr[0]
          %ul.sub-menu
            - (1..arr.length - 1).each do |line_index|
              - dt = arr[line_index].split('|')
              %li{class: "#{current_path.include?(dt[0]) ? 'active' : ''}"}= link_to t(dt[0]), full_path(dt[2])
      / begin sidebar minify button
      %li
        %a.sidebar-minify-btn{"data-click" => "sidebar-minify", :href => "javascript:;"}
          %i.fa.fa-angle-double-left
      / end sidebar minify button
    / end sidebar nav
  / end sidebar scrollbar
.sidebar-bg
/ end #sidebar

