.sidebar
  = form_tag '', class: 'form-inline' do
    .col
      = text_field_tag 'schedule_id', '',  class: 'form-control', placeholder: 'Schedule#'
    .col
      = text_field_tag 'tour_id', '', class: 'form-control', placeholder: 'Tour#'
    .col
      = text_field_tag 'user_name', '', class: 'form-control', placeholder: 'User name'
    .col
      = submit_tag 'Go', class: 'btn btn-default'
  
