.sidebar
  = form_tag '', class: 'form-inline' do
    .form-group
      = text_field_tag 'schedule_id', '',  class: 'form-control col-md-2', placeholder: 'Schedule#'
    .form-group
      = text_field_tag 'tour_id', '', class: 'form-control col-md-2', placeholder: 'Tour#'
    .form-group
      = text_field_tag 'user_name', '', class: 'form-control col-md-2', placeholder: 'User name'
    = submit_tag 'Go', class: 'btn btn-default'
  
