<% @object.build_order_detail if !@object.order_detail %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit Order# <%= @object.order_number %></h3>
</div>
<div class="modal-body">
  <%= form_for(@object, :remote => true, :html => {:class => 'small-form'}) do |f| %>
    <div class="row">
      <div class='span4'>
        <%= f.hidden_field :schedule_id %>
        <%= f.hidden_field :schedule_assignment_id %>
        <%= hidden_field_tag :seats, params[:seats] %>
        <div style='margin-bottom: 6px;'>
          <%= render 'schedule_title', :schedule => @object.schedule %>
          <%= icon_link_to 'Select Schdule', select_schedules_path + '?page=order', {:icon => 'icon-plus', :remote => true, :class => 'btn btn-success'} unless @object.schedule %>
        </div>
          <%= f.fields_for :order_detail do |detail| %>
            Customer: 
            <%#= icon_link_to 'Change Customer', select_user_infos_path + '?id=' + (@object.order_detail.user_info ? @object.order_detail.user_info.id.to_s : '0'), {:remote => true, :class => 'btn btn-mini btn-success', :icon => 'icon-user'} %>
            <%= icon_link_to 'Change Customer', find_user_infos_path, :remote => true, :icon => 'icon-user', :class => 'btn btn-mini btn-success' %><br />
            <%= detail.text_field :user_info_id, :readonly => true %><br />
            Full name:<br />
            <%= detail.text_field :full_name, :readonly => true %><br />
            Telephone:<br />
            <%= detail.text_field :telephone, :readonly => true %><br />
            Email:<br />
            <%= detail.text_field :email, :readonly => true %><br />
            Bill address:<br />
            <%= detail.text_field :bill_address, :readonly => true %><br />
            Pickup: <br />
            <%= detail.text_field :pickup %><br />
          <% end %>
      </div>
      <div class='span4'>
        <%= add_object_js_link 'Add room', f, :order_items, 'form_room', '#rooms'  %>
        <div class='row'>
          <div class='span1'>Adult</div>
          <div class='span1'>Child</div>
          <div class='span1'>Amount</div>
        </div>
        <div id='rooms'>
          <%= f.fields_for :order_items do |item| %>
            <%= render 'form_room', :f => item %>
          <% end %>
        </div>
      </div>
      <script type='text/javascript'>
        var tmp = "<%= generate_template f, :order_items, :partial => 'form_room'  %>";
        </script>
      </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Payment', order_path(@object.id) if @object.id %>
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>


