= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Orders
      %span.divider /
    %li.active All Orders
= content_for :search_box do
  = form_for( @search, :url => orders_path ) do |f|
    .input-prepend.input-append
      %span.add-on Title
      = f.text_field :order_number_contains, :class => 'span2'
      = search_button
%section
  .data-pager
    = will_paginate(@collection, :class => 'pagination pagination-mini')
  %table#list_orders.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th Order number
        %th Customer
        %th Order type
        %th Created
        %th State
        %th op
    %tbody
      - @collection.each do |order|
        = render :partial => 'row', :object => order
  .data-pager
    = will_paginate(@collection, :class => 'pagination pagination-mini')
