<% content_for :head do %>
  <%= javascript_tag do %>
    var credit_card_rate = "<%= InputType.where(:type_name => 'credit.card.rate').collect{|ipt| [ipt.type_text, ipt.type_value]}.join('|') + '|' %>";
  <% end %>
<% end %>
<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= link_to 'Orders', orders_path %> <span class="divider">/</span></li>
    <li class="active">Order: <%= @object.order_number %></li>
  </ul>
<% end %>
<div class='row'>
  <div class='span6'>
    <h4>Customer</h4>
    <% if @object.order_detail && @object.order_detail.user_info %>
      <table class='table table-condensed' style='width:auto;'>
        <tbody>
          <tr>
            <td class='note-text'>Full name:</td>
            <td><%= @object.order_detail.user_info.full_name %></td>
          </tr>
          <tr>
            <td class='note-text'>Telephone:</td>
            <td>
              <% @object.order_detail.user_info.telephones.each do |tel| %>
                <%= tel %>,
              <% end %>
            </td>
          </tr>
          <tr>
            <td class='note-text'>Email:</td>
            <td><%= @object.order_detail.user_info.emails.first %></td>
          </tr>
          <tr>
            <td class='note-text'>Address:</td>
            <td><%= @object.order_detail.user_info.addresses.first %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class='span6'>
    <h4>Order</h4>
    <div class='barcode' style='float:right;'><%= @object.order_number %></div>
    <% if @object.schedule %>
      <p style='font-size:110%;font-weight:bold;'>
        <%= @object.schedule.tour.description.title %><br />
        <%= @object.schedule.tour.description.title_cn %>
      </p>
      <p>
        <%= date_tag @object.schedule.departure_date %> ~ 
        <%= date_tag @object.schedule.return_date %>
        &nbsp;|&nbsp;(<%= link_to 'Schedule: ' + @object.schedule_id.to_s, object_url(@object.schedule) %>)
      </p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='span8'>
    <fieldset id='list_payments'>
      <%= render :partial => 'travel_admin/payments/payments', :object => @object  %>
    </fieldset>
  </div>
  <div class='span4'>
    <h4>Detail</h4>
    <table class='table table-bordered table-condensed'>
      <thead>
        <tr class='table-header'>
          <th>Room</th>
          <th>Adult</th>
          <th>Child</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @object.order_items.each_with_index do |item, i| %>
          <tr>
            <td class='cell-middle'>#<%= i + 1 %></td>
            <td class='cell-middle'><%= item.num_adult %></td>
            <td class='cell-middle'><%= item.num_child %></td>
            <td class='cell-right'><%= item.amount %></td>
          </tr>
        <% end %>
        <% if @object.order_price %>
          <tr>
            <td class='cell-middle'>Total:</td>
            <td colspan='2' class='cell-middle'><%= @object.order_price.num_total %> person</td>
            <td class='cell-right'><%= @object.order_price.total_amount %></td>
          </tr>
          <tr>
            <td colspan='3' class='cell-right'>Adjustment amount:</td>
            <td class='cell-right'><%= @object.order_price.adjustment_amount %></td>
          </tr>
          <tr>
            <td colspan='3' class='cell-right'>Actual Amount:</td>
            <td class='cell-right'><%= @object.order_price.actual_amount %></td>
          </tr>
        <% end %> 
      </tbody>
    </table>
    <table>
      <tr>
        <td width='100' class='cell-right'>Order method:</td>
        <td><%= @object.order_method %></td>
      </tr>
      <tr>
        <td class='cell-right'>Created at:</td>
        <td><%= time_tag @object.created_at, :class => 'local-datetime' %></td>
      </tr>
      <tr>
        <td class='cell-right'>Updated at:</td>
        <td><%= time_tag @object.updated_at, :class => 'local-datetime' if @object.updated_at %></td>
      </tr>
      <tr>
        <td class='cell-right'>Completed at: </td>
        <td><%= time_tag @object.completed_at, :class => 'local-datetime' if @object.completed_at %></td>
      </tr>
      <tr>
        <td class='cell-right'>Status: </td>
        <td><%= type_text.get_text('order.status', @object.status) %></td>
      </tr>
    </table>
  </div>
</div>

<%= icon_link_to 'Add remark', new_order_remark_path(@object), :remote => true, :class => 'btn btn-small', :icon => 'icon-comment' %>
<div id='list_remarks' class='notes'>
  <% @object.remarks.each do |rmk| %>
    <%= render :partial => 'travel_admin/remarks/row', :object => rmk %>
  <% end %>
</div>

