<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Data <span class="divider">/</span></li>
        <li class="active">Employees</li>
      </ul>
<% end %>
<section>
<ul class="nav nav-tabs" id='list_emps'>
  <% @ecs.each do |e| %>
    <li <%= "class=active" if e.company_id == @cid %>>
      <a href="emps?company_id=<%= e.company_id %>"><%= e.company ? e.company.short_name : '(empty)' %></a>
    </li>
  <% end %>
</ul>
<% if @employee_infos %>
<table class="data-list table table-bordered table-striped" id="list_employee_infos">
  <thead>
  <tr class='table-header'>
      <th><%= t("id") %></th>
      <th><%= t("name") %></th>
      <th><%= t("roles") %></th>
      <th><%= t('telephone')%></th>
      <th><%= t('email') %></th>
  </tr>
  </thead>
  <tbody>
<% @employee_infos.each do |row| %>
  <% tt = TypeText.instance %>
  <tr id="<%= dom_id row %>" <%= 'class=deleted' unless row.status && row.status == 1 %>>
      <td><%= row.id %></td>
      <td><%= row.nickname %></td>
      <td><%= tt.get_texts('roles', row.roles) %></td>
      <td><%= row.default_telephone %></td>
      <td><%= row.default_email %></td>
  </tr>
<% end %>
  </tbody>
</table>
  
<% end %>
</section>
