!!!
/[if IE 8] <html lang="en" class="ie8">
/ [if !IE]><!
%html{:lang => "en"}
  / <![endif]

  %head
    %meta{:charset => "utf-8"}/
    %title AE Travel | Data System
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / ================== BEGIN BASE CSS STYLE ==================
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/plugins/bootstrap-3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/css/animate.min.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/css/style.min.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/css/style-responsive.min.css", :rel => "stylesheet"}/
    %link#theme{:href => "/admin/assets/css/theme/default.css", :rel => "stylesheet"}/
    / ================== END BASE CSS STYLE ==================
    / ================== BEGIN PAGE LEVEL STYLE ==================
    %link{:href => "/admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/plugins/bootstrap-datepicker/css/datepicker.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css", :rel => "stylesheet"}/
    %link{:href => "/admin/assets/plugins/gritter/css/jquery.gritter.css", :rel => "stylesheet"}/
    / ================== END PAGE LEVEL STYLE ==================

    = javascript_include_tag 'travel_admin/application'
  %body
    #page-loader.fade.in
      %span.spinner
    #page-container.fade.page-sidebar-fixed.page-header-fixed
      = render 'travel_admin/shared/admin_top'
      = render 'travel_admin/shared/side_bar'

      #content.content
        %ol.breadcrumb.pull-right
          %li
            = link_to 'Home', full_path
          = yield :breadcrumbs
        %h1.page-header
          = yield :page_header
        = yield 
      
      #footer.footer
      %a.btn.btn-icon.btn-circle.btn-success.btn-scroll-to-top.fade{"data-click" => "scroll-top", :href => "javascript:;"}
        %i.fa.fa-angle-up

    / ================== BEGIN BASE JS ==================    
    %script{:src => "/admin/assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js"}
    %script{:src => "/admin/assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"}
    %script{:src => "/admin/assets/plugins/bootstrap-3.2.0/js/bootstrap.min.js"}
    /[if lt IE 9]
      <script src="/admin/assets/crossbrowserjs/html5shiv.js"></script>
      <script src="/admin/assets/crossbrowserjs/respond.min.js"></script>
      <script src="/admin/assets/crossbrowserjs/excanvas.min.js"></script>
    %script{:src => "/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"}
    %script{:src => "/admin/assets/plugins/jquery-cookie/jquery.cookie.js"}
    / ================== END BASE JS ==================
    / ================== BEGIN PAGE LEVEL JS ==================
    %script{:src => "/admin/assets/plugins/gritter/js/jquery.gritter.js"}
    %script{:src => "/admin/assets/plugins/flot/jquery.flot.min.js"}
    %script{:src => "/admin/assets/plugins/flot/jquery.flot.time.min.js"}
    %script{:src => "/admin/assets/plugins/flot/jquery.flot.resize.min.js"}
    %script{:src => "/admin/assets/plugins/flot/jquery.flot.pie.min.js"}
    %script{:src => "/admin/assets/plugins/sparkline/jquery.sparkline.js"}
    %script{:src => "/admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"}
    %script{:src => "/admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"}
    %script{:src => "/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"}
    %script{:src => "/admin/assets/js/dashboard.js"}
    %script{:src => "/admin/assets/js/apps.min.js"}
    = cloudinary_js_config
    / ================== END PAGE LEVEL JS ==================
    :javascript
      $(document).ready(function() {
        App.init();
        Dashboard.init();

      });          

    
    - flash.each do |k, v|
      :javascript
        $.gritter.add({
          title: "#{k}",
            text: "#{v}",
            image: '/admin/assets/img/user-2.jpg',
            sticky: "#{ k == 'notices' }",
            time: '5000',
            class_name: 'my-sticky-class'
        });
