<!DOCTYPE html>
<html>
  <head>
    <title>admin-<%= @title %></title>
    <%= favicon_link_tag %>
    <meta name='<%= @title %>' content='width=device-width, initial-scale=1.0'>
    <%= stylesheet_link_tag '/css/bootstrap/css/bootstrap', '/css/bootstrap/css/datepicker', 'admin/admin', '/css/my_icons/glyphicons', '/css/my_icons/gicons' %>
    <%= javascript_include_tag 'admin/admin', '/css/bootstrap/js/bootstrap.min', '/css/xheditor/xheditor-1.1.14-zh-cn.min', '/css/bootstrap/js/bootstrap-datepicker' %>
    <%= csrf_meta_tags %>
    <%= render 'travel_admin/shared/head_script' %>
    <%= yield :head %>
  </head>
  <body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <%= link_to 'Admin Home', cfg.get_config('admin_path'), :class => 'brand' %>
          <%= render 'travel_admin/shared/main_menu' %>
          <div style='float:right;color:white;'>
            <% if current_employee %>
              Welcome <%= link_to current_employee.employee_info.nickname, employees_path %> |
              <%= link_to 'Logout', main_app.destroy_employee_session_path, :method => :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class='navbar navbar-fixed-top' id='top_breadcrumbs'>
      <div class='container'>
        <%= yield :breadcrumbs %>
      </div>
    </div>
    <div id='top_place_holder'>&nbsp;</div>
    <header class='subhead' id='toolbox'>
    <div class='container'>
      <div class='quick-go'>
        <%= render 'travel_admin/shared/sidebar' %>
      </div>
      <div class='search-box'>
        <%= yield :search_box %>
      </div>
    </div>
    </header>

    <div id="progress"><%= image_tag 'admin/progress.gif' %> Loading ...</div>      
    <div class='container'>
      <%= yield %>
      <div id='hide_contents'>
      <% if flash[:error] %>
        <div class="flash notice">
          <div class='alert alert-error'>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span class='label label-important'>ERROR</label> <%= raw flash[:error] %>
          </div>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash notice">
          <div class='alert alert-error'>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span class='label label-warning'>Alert</label> <%= raw flash[:alert] %>
          </div>
        </div>
        </div>
      <% end %>
      <% if notice %>
        <div class="flash notice">
          <div class='alert alert-info'>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span class='label label-info'>Notice</span> <%= raw notice %>
          </div>
        </div>
      <% end %>
      <div id='dialog_place_holder'></div>
      </div>
    </div>

    <footer class='footer'>
    <div class='container'>
      <%= render 'travel_admin/shared/footer' %>
    </div>
    </footer>
  </body>
</html>
