!!!
%html
  %head
    %title
      admin-#{@title}
    = favicon_link_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => @title}
      = stylesheet_link_tag '/css/bootstrap/css/bootstrap', '/css/bootstrap/css/datepicker', 'admin/admin', '/css/my_icons/glyphicons', '/css/my_icons/gicons'
      = javascript_include_tag 'admin/admin', '/css/bootstrap/js/bootstrap.min', '/css/xheditor/xheditor-1.1.14-zh-cn.min', '/css/bootstrap/js/bootstrap-datepicker'
      = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} Admin Home
          %div{:style => "float:right;color:white;"}
    #top_breadcrumbs.navbar.navbar-fixed-top
      .container
    %header#toolbox.subhead
      .container
        .quick-go
        .search-box
    .container
      = yield
      #hide_contents
        - if flash[:error]
          .flash.notice
            .alert.alert-error
              %a.close{"data-dismiss" => "alert", :href => "#"} &times;
              %span.label.label-important
                ERROR
                = raw flash[:error]
        - if flash[:alert]
          .flash.notice
            .alert.alert-error
              %a.close{"data-dismiss" => "alert", :href => "#"} &times;
              %span.label.label-warning
                Alert
                = raw flash[:alert]
      - if notice
        .flash.notice
          .alert.alert-info
            %a.close{"data-dismiss" => "alert", :href => "#"} &times;
            %span.label.label-info Notice
            = raw notice
    %footer.footer
      .container
