!!!
%html
  %head
    %title
      admin-#{@title}
    = favicon_link_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => @title}
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :rel=>"stylesheet"}
    = stylesheet_link_tag 'admin/admin'
    = javascript_include_tag 'admin/admin', '/css/xheditor/xheditor-1.1.14-zh-cn.min', '/css/bootstrap/js/bootstrap-datepicker'
    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}

    = csrf_meta_tags
  %body
    .navbar.navbar-static.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %b Admin Home
    #top_place_holder &nbsp;
    .container
      = yield
      #hide_contents
        - if flash[:error]
          .flash.notice
            .alert.alert-error
              %a.close{"data-dismiss" => "alert", :href => "#"} &times;
              %span.label.label-important
                ERROR
                = raw flash[:error]
        - if flash[:alert]
          .flash.notice
            .alert.alert-error
              %a.close{"data-dismiss" => "alert", :href => "#"} &times;
              %span.label.label-warning
                Alert
                = raw flash[:alert]
      - if notice
        .flash.notice
          .alert.alert-info
            %a.close{"data-dismiss" => "alert", :href => "#"} &times;
            %span.label.label-info Notice
            = raw notice
    %footer.footer
      .container
