<!DOCTYPE html>
<html>
  <head>
    <title>admin-<%= @title %></title>
    <%= favicon_link_tag %>
    <meta name='<%= @title %>' content='width=device-width, initial-scale=1.0'>
    <%= stylesheet_link_tag '/css/bootstrap/css/bootstrap', 'admin/admin' %>
    <%= javascript_include_tag 'admin/admin', '/css/bootstrap/js/bootstrap.min' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/'>Admin Home</a>
          <div style='float:right;color:white;'>
          </div>
        </div>
      </div>
    </div>

    <div class='navbar navbar-fixed-top' id='top_breadcrumbs'>
      <div class='container'>
      </div>
    </div>
    <header class='subhead' id='toolbox'>
    <div class='container'>
      <div class='quick-go'>
      </div>
      <div class='search-box'>
      </div>
    </div>
    </header>

    <div class='container'>
      <%= yield %>
      <div id='hide_contents'>
      <% if flash[:error] %>
        <div class="flash notice">
          <div class='alert alert-error'>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span class='label label-important'>ERROR</label> <%= raw flash[:error] %>
          </div>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash notice">
          <div class='alert alert-error'>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span class='label label-warning'>Alert</label> <%= raw flash[:alert] %>
          </div>
        </div>
        </div>
      <% end %>
      <% if notice %>
        <div class="flash notice">
          <div class='alert alert-info'>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span class='label label-info'>Notice</span> <%= raw notice %>
          </div>
        </div>
      <% end %>
    </div>

    <footer class='footer'>
    <div class='container'>
    </div>
    </footer>
  </body>
</html>
