= content_for :breadcrumbs do
  %li= link_to 'Tours', 'javascript:history.go(-1)'
  %li.active Spots


%h1.page-header
  Tour Spots
  %small tour visit squence.
%section
  .panel.panel-inverse
    .panel-heading
      .btn-group.pull-right
        = link_to_new 'New', new_tour_spot_path
      %h4.panel-title Spots
    .panel-body
      - tour = Tour.find(params[:tour_id])
      %h3
        = tour.description.title
        %br
        = tour.description.title_cn
      = cl_image_tag(tour.title_photo.public_id, width:320, height: 180, crop: :fill) if tour.title_photo
      %p
      #list_spots
        - @collection.each do |sp|
          = render :partial => 'row', :object => sp
