<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
	  <li><%= link_to 'Go Back', 'javascript:history.go(-1)' %><span class="divider">/</span></li>
	  <li><%= link_to 'Tours', tours_path %><span class="divider">/</span></li>
    <li class="active">Routes</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= icon_link_to 'Add Spot', new_tour_spot_path, {:remote => true, :icon => 'icon-plus', :class => 'btn btn-success' } %>    
<% end %>
<div class='row'>
  <% tour = Tour.find(params[:tour_id]) %>
  <h3>
    <%= raw "#{tour.description.title}<br />#{tour.description.title_cn}" %>
  </h3>
  <%= image_tag tour.title_photo.pic.url(:small), :id => 'tour_icon' if tour.title_photo %>
</div>

<div id="list_spots">
<% @collection.each do |sp| %>
  <%= render :partial => 'row', :object => sp%> 
<% end %>
</div>

