<tr id="<%= dom_id row%>">
  <td><%= row.id %></td>
  <td><%= row.tel_number_type %></td>
  <td><%= row.tel_number_id %></td>
  <td><%= row.tel_type %></td>
  <td><%= row.tel %></td>
  <td><%= row.created_at %></td>
  <td><%= row.updated_at %></td>
  <td>
    <%= link_to_edit row %> 
  </td>
</tr>


