= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Orders
      %span.divider /
    %li
      = link_to 'Users', user_infos_path
      %span.divider /
    %li.active Phones
= content_for :search_box do
  = search_form_for @q do |f|
    .col-md-4
      .input-group
        = f.text_field :tel_cont, class: 'form-control', placeholder: 'telephone number'
        .input-group-btn
          = search_button
%section
  = will_paginate(@collection)
  %table#list_telephones.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th id
        %th data type
        %th data id
        %th type
        %th Phone
        %th created_at
        %th updated_at
        %th op
    - @collection.each do |d|
      = render :partial => 'row', :object => d
  = will_paginate(@collection)
