<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><i class='glyphicon-7-22'></i>Refund by Cash</h3>
</div>
<div class="modal-body">
  <%= form_for([@order, @object], :remote => true) do |f| %>
    <div class='row'>
      <div class='span4'>
        <table>
          <tr>
            <td>Refund:</td>
            <td>
              <%= f.text_field :refund_amount, :class => 'large-number', :onchange => 'recaculate_refund_cash();'%>
            </td>
          </tr>
          <tr>
            <td>Refund fee:</td>
            <td>
              <%= f.text_field :refund_fee, :onchange => 'recaculate_refund_cash();' %>
            </td>
          </tr>
          <tr>
            <td>Casher:</td>
            <td>
              <%= render :partial => 'travel_admin/shared/select_employee', :locals => {:f => f, :field_name => :received_by_id , :role => '5'} %>
            </td>
          </tr>
        </table>
      </div>
      <div class='span4'>
        <table class='table table-bordered'>
          <tr>
            <td>Order</td>
            <td class='cell-middle' width='150'><%= @order.order_number %></td>
          </tr>
          <tr>
            <td>Order Amount</td>
            <td class='cell-right' id='tb_order_amount'><%= @order.order_price.actual_amount %></td>
          </tr>
          <tr>
            <td>Balance before</td>
            <td class='cell-right' id='tb_balance_before'><%= @order.order_price.balance_amount %></td>
          </tr>
          <tr>
            <td>Pay amount</td>
            <td id='tb_pay_amount' class='large-number cell-right'></td>
          </tr>
          <tr>
            <td>Balance after</td>
            <td id='tb_balance' class='cell-right'></td>
          </tr>
          </table>
          <%= f.hidden_field :amount  %>
      </div>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>





