<% 
  pay_voucher = PayVoucher.new
%>
<%= form_for( pay_voucher, :remote => true) do |f| %>
  <%= hidden_field_tag :order_id, params[:order_id] %>
		<table style="width:auto;">
			<tr>
				<td>Voucher#</td>
				<td><%= f.text_field :voucher_id %></td>
			</tr>
			<tr>
				<td>Amount:</td>
				<td><%= f.text_field :amount %></td>
			</tr>
    <tr>
      <td>Received by:</td>
      <td>
        <%= render :partial => 'travel_admin/shared/select_employee', :locals => {:f => f, :field_name => :received_by_id , :role => '5'} %>
      </td>
    </tr>
  </table>
  <p>
    <%= f.submit %>
  </p>
<% end %>
