<% 
  voucher = Voucher.new
%>
<%= form_for( voucher, :remote => true) do |f| %>
  <%= hidden_field_tag :order_id, params[:order_id] %>
		<table style="width:auto;">
			<tr>
				<td>Amount:</td>
				<td><%= f.text_field :amount %></td>
			</tr>
			<tr>
				<td>Refund fee:</td>
				<td><%= f.text_field :refund_fee %></td>
			</tr>
			<tr>
				<td>Expire date:</td>
				<td><%= f.text_field :expire_date %></td>
			</tr>
  </table>
  <p>
    <%= f.submit %>
  </p>
<% end %>

