<h4>Payment</h4>
<table class='table table-bordered table-condensed'>
  <thead>
    <tr class='table-header'>
      <th>Method</th>
      <th>before</th>
      <th>Amount</th> 
      <th>after</th> 
      <th>account</th>
      <th>Date</th>
      <th>Op</th>
    </tr>
  </thead>
  <tbody>
    <% payments.payments.each do |p| %>
      <% order_hist = p.balance_data('Order') %>
      <% unless order_hist %>
        <tr><td colspan='6'>Error data</td></tr>
      <% else %>
      <tr id='<%= dom_id(p) %>'>
        <td class='cell-middle'><%= p.pay_method_type %></td>
        <td class='cell-right'><%= order_hist.balance_before %></td>
        <td class='cell-right'><%= p.amount %></td>
        <td class='cell-right'><%= order_hist.balance_after %></td>
        <td class='cell-middle'>
          <% if p.account.is_a? EmployeeInfo %>
            <%= p.account.owner.nickname %>
          <% else %>
            <%= p.operator.nickname if p.operator %>
          <% end %>
        </td>
        <td class='cell-middle'><%= time_tag p.updated_at, :class => 'local-datetime' if p.updated_at %></td>
        <td class='cell-middle'>
          <%= icon_link_to '', object_url(p.pay_method), :method => :delete, :remote => true, :icon => 'icon-repeat', :class => 'btn btn-mini', :title => 'Withdraw this payment!', :confirm => "Withdraw when the payment failed. Paid amount will return. \n\nAre you sure to withdraw?" if (p.pay_method.status == 8) && ((p.pay_method.is_a? PayCreditCard) || (p.pay_method.is_a? PayCheck)) %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% 
  btn_class = 'btn btn-mini btn-success'
  btn_class += ' disabled' if payments.status && payments.status > 2
  fn_class = 'btn btn-mini btn-info'
  fn_class += ' disabled' if !payments.status || payments.status < 1 || payments.status > 3
  cn_class = 'btn btn-mini btn-warning'
  cn_class += ' disabled' if payments.status && payments.status == 7
%> 
<div class='pull-right'><span class='note-text'>Current balance:</span> <span class='strong'><%= payments.order_price.balance_amount %></span>
</div>
<div class='btn-group'>
  <a class='<%= btn_class %>' data-toggle='dropdown' href='#'>
    <i class='icon-plus'></i> Payment
    <span class='caret'></span></a>
  <ul class='dropdown-menu'>
    <li><%= icon_link 'Pay Cash', new_order_pay_cash_path(@order), :remote => true, :icon => 'gicon-7-22'  %></li>
    <li><%= icon_link 'Credit Card', new_order_pay_credit_card_path(@order), :remote => true, :icon => 'gicon-3-15'  %></li>
    <li><%= icon_link 'Pay Check', new_order_pay_check_path(@order), :remote => true, :icon => 'icon-edit'  %></li>
    <li class='divider'></li>
    <li><a href='#'><i class='icon-pencil'></i> Pay Cash</a></li>
  </ul>
</div>
<div class='btn-group'>
  <a class='<%= fn_class %>' data-toggle='dropdown' href='#'>
    <i class='icon-share'></i> Refund
    <span class='caret'></span>
  </a>
  <ul class='dropdown-menu'>
    <li><%= icon_link 'Refund by Cash', new_order_refund_cash_path(@order), :icon => 'gicon-7-22', :remote => true %></li>
    <li><%= icon_link 'Refund to Voucher', '', :icon => 'icon-tag' %></li>
    <li class='divider'></li>
  </ul>
</div>
<%= icon_link 'Cancel', order_path(@order), :remote => true, :icon => 'icon-trash', :method => :delete, :class => cn_class, :title => 'Cancel this order. Auto create voucher if have un-refunded payments.', :confirm => "Cancel this order. Auto create voucher if have un-refunded payments.\n\nPlease refund to advoid voucher to be create.\n\nAre you sure?" %>
