<h2><%= detail.title %></h2>
<div class='row'>
  <div class='span4'>
    <p> ID: <%= detail.permalink %> </p>
    <%= raw detail.description.en if detail.description %>
  </div>
  <div class='span4'>
    <%= raw detail.description.cn if detail.description %>
  </div>
</div>
<br />
<%= row_link_to_edit detail %>


