<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Data <span class="divider">/</span></li>
        <li class="active">Pages</li>
      </ul>
<% end %>
<%= content_for :search_box do %>
  <%= link_to_new 'New Page', new_page_path %>
<% end %>
<section>
<h1><%= "Pages List" %></h1>
<div class='data-pager'>
  <%= will_paginate(@collection, :class => 'pagination pagination-mini') %>
</div>
<table class="data-list table table-bordered table-striped" id="list_pages">
  <thead>
  <tr class='table-header'>
      <th>permalink</th>
      <th>title</th>
      <th>updated</th>
	    <th>Action</th>
    </tr>
  </thead>
<% @collection.each do |page| %>
	<%= render :partial => 'row', :object => page %>
<% end %>
</table>
<div class='data-pager'>
  <%= will_paginate(@collection, :class => 'pagination pagination-mini') %>
</div>
</section>
