%h1
  Bus: #{detail.name}
.container
  .span-8
    = image_tag detail.title_photo.pic.url(:small) if detail.title_photo
  .span-8.last
    - if detail.company
      %p
        Company: #{detail.company.company_name}(#{detail.company.short_name})
    %p
      Bus Type: #{detail.bus_type}
    %p
      Seats number: #{detail.seats}
