%h1
  Bus: #{detail.name}
.row
  .col-md-6
    = cl_image_tag(detail.title_photo.public_id, width:320, height: 180, crop: :fill) if detail.title_photo
  .col-md-6
    - if detail.company
      %p
        Company: #{detail.company.company_name}(#{detail.company.short_name})
    %p
      Bus Type: #{detail.bus_type}
    %p
      Seats number: #{detail.seats}
