<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit Bus# <%= @object.id %></h3>
</div>
<div class="modal-body">
<%= form_for( @object, :remote => true) do |f| %>
  <div class="row">
  	<div class='span4'>
	  	<%= f.label :name %>
	  	<%= f.text_field :name %>


        <%= f.label :bus_type %>
        <%= f.select(:bus_type, InputType.get_list('bus').collect{|d| [d.type_text, d.type_value]}, {:prompt => 'Select Bus Type'}) %>  	
	  	<%= f.label :seats %>
	  	<%= f.text_field :seats %>
	  	<%= f.label :seats_per_row %>
	  	<%= f.text_field :seats_per_row %>
	  	<%= f.label :passengeway %>
	  	<%= f.text_field :passengeway %>
	  	<%= f.label :reserved_seats %>
	  	<%= f.text_field :reserved_seats %>
	  </div>
	  <div class='span4'>
      <%= f.label :company %>
      <%= f.select(:company_id, Company.all.collect{|c| [c.short_name, c.id]}, {:prompt => 'Select Company'}) %>
	  	<%= f.label :contact_name %>
	  	<%= f.text_field :contact_name %>
	  	<%= f.label :tel %>
	  	<%= f.text_field :tel %>
	  	<%= f.label :plate_number %>
	  	<%= f.text_field :plate_number %>
	  	<%= f.label :vin_number %>
	  	<%= f.text_field :vin_number %>
	  	<%= f.label :inspection_date %>
      <%= f.text_field :inspection_date, :value => formatted_date(@object.inspection_date), :class => 'date-picker' %>
    </div>   
	</div>
<% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>
