.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title#myModalLabel Edit Bus# #{@object.id}
    .modal-body
      = simple_form_for(@object, :remote => true) do |f|
        .row
          .col-md-6
            = f.input :name
            = f.input :bus_type, collection:  InputType.get_list('bus').collect{|d| [d.type_text, d.type_value]}, prompt: 'Select Bus Type'
            = f.input :seats
            = f.input :seats_per_row
            = f.input :passengeway
            = f.input :reserved_seats
            = f.input :status, collection: [['Show', 1],['Hide', 0]]
          .col-md-6
            = f.association :company, label_method: :short_name
            = f.input :contact_name
            = f.input :tel
            = f.input :plate_number
            = f.input :vin_number
            = f.input :inspection_date, as: :string, input_html: {class: 'date-picker'}
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
