<tr id="<%= dom_id row %>" <%= 'class=deleted' if !row.status || row.status < 1 %>>
  <td class='cell-middle'><%= row.id %></td>
  <td>
    <%= row.name %><br />
    <span class='text-info'><%= row.tel %></span>
  </td>
  <td><%= row.bus_type %></td>
  <td><%= row.seats %></td>
  <td>
    <%= row.plate_number %><br />
    <span class='text-info'><%= row.vin_number %></span>
  </td>
  <td><%= row.inspection_date %></td>
  <td><%= row.created_at %></td>
  <td class="actions">
    <div class='btn-group'>
      <%= icon_link_to '', bus_path(row) + '/shifts', :icon => 'icon-list-alt', :title => 'View bus shifts table' %> 
    <%= row_link_to_edit row %>
    <%= row_link_to_photo bus_photos_path(row) %>
    <%= icon_link_to '', bus_bus_reserved_dates_path(row), :icon => 'icon-ban-circle', :title => 'Bus reserved dates' %>
    <%= row_link_to_hide row %>
    </div>
  </td>
</tr>
