- gen_cal_table

<h3>Shifts: Bus #<%= @bus.id %>: <%= @bus.name %> (<%= @bus.company.short_name if @bus.company %>)</h3>
<h2>
  <a href='<%= lnk_prev %>' class='btn btn-success btn-mini'><i class='icon-arrow-left'></i> Prev year</a>
  <%= year %>
  <a href='<%= lnk_next %>' class='btn btn-success btn-mini'>Next year <i class='icon-arrow-right'></i></a></h2>
<div class='calendar'>
  <%=raw r.join() %>
</div>

