- gen_cal_table
%h3
  Shifts: Bus ##{@bus.id}: #{@bus.name} (#{@bus.company.short_name if @bus.company})
%h2
  %a.btn.btn-success.btn-mini{:href => @lnk_prev}
    %i.icon-arrow-left
    Prev year
  = @year
  %a.btn.btn-success.btn-mini{:href => @lnk_next}
    Next year
    %i.icon-arrow-right
.calendar
  = raw @r.join()
