- @object.build_description unless @object.description
- @object.build_tour_setting.set_new_default unless @object.tour_setting
- @object.build_tour_price.set_new_default unless @object.tour_price
.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3#myModalLabel
    Edit Tour# #{@object.id}
.modal-body
  = form_for( @object, :remote => true) do |f|
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Description
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Attributes
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Prices
      .tab-content
        #tab1.tab-pane.active
          = render :partial => 'travel_admin/shared/description', :locals => {:f => f}
          = render :partial => 'travel_admin/shared/status', :locals => {:f => f}
        #tab2.tab-pane
          .row
            .span3
              = f.label :tour_type
              = f.select :tour_type, InputType.get_list('tour').map{|t| [t.type_text, t.type_value]}, {}, :class => 'data-field'
            .span3
              = f.label :days
              = f.text_field :days
          = render :partial => 'tour_setting', :locals => {:f => f}
        #tab3.tab-pane
          = render :partial => 'tour_price', :locals => {:f => f}
.modal-footer
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
  %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
