%tr{id: "#{dom_id row}", class: "#{(!row.status || row.status < 1) ? 'deleted' : ''}"}
  %td.cell-middle= row.id
  %td.cell-middle= cl_image_tag(row.title_photo.public_id, width:50, height: 50, crop: :fill) if row.title_photo
  %td
    %span.text-success
      [#{row.tour_type_name}]
    (
    %span.text-warning
      = row.days
      days
    )
    %span.text-info
      Weekly: #{row.tour_setting.weekly if row.tour_setting}
    %br/
    = row.description.title
    %br/
    %span.text-success= row.description.title_cn
  %td
    = row.tour_price.price_adult
    %br/
    %small
      %i.icon-user{:title => "Single charge"}
      = row.tour_price.single_charge
      %br/
      %i.icon-th-large{:title => "The forth charge"}
      = row.tour_price.forth_charge
      %br/
      - if row.tour_price.buy_two_get_one_free == 1
        %abbr.initialism.text-success{:title => "Buy 2 get 1 free"} B2G1F
  %td.cell-middle
    .btn-group.btn-group-sm
      = website_link_to_view row
      = icon_link_to '', tour_spots_path(row), :icon => 'fa fa-list-ol', :title => 'Tour route and visit order'
      = row_link_to_edit row
      = icon_link_to '', tour_path(row), :icon => 'fa fa-file-o', :title => 'Tour schedules.'
      = row_link_to_hide row
