      <tr id='<%= dom_id row_gen %>'>
        <td>
          <label class='checkbox inline'>
            <input type='checkbox' value='1'> <%= row_gen.id %>
          </label>
        </td>
        <td>
          <%= row_gen.description.title %><br />
          <%= row_gen.description.title_cn %>
        </td>
        <td><%= row_gen.tour_setting.weekly %></td>
        <td>
          <%= row_gen.tour_price.price1 %>, <%= row_gen.tour_price.price2 %><br />
          <%= row_gen.tour_price.price3 %>, <%= row_gen.tour_price.price4 %>
        </td>
        <td>
          <%= row_gen.schedules.maximum(:departure_date) %><br />
          <b><%= row_gen.schedules.where('departure_date>?', Date.today).count %></b> schedules
        </td>
        <td>
          <%= icon_link_to 'generate', gen_tour_path(row_gen), :icon => 'icon-plus', :class => 'btn btn-mini btn-success', :remote => true, :onclick => 'hotline_tr(this);' %>
          <% if defined? @gen_count %>
            <br />added: <b><%= @gen_count %></b>
          <% end %>
        </td>
      </tr>

