= f.fields_for :tour_setting do |s|
  .well
    .row
      .col-md-6
        .form-group
          = s.label :weekly, 'Weekly(Sun..Sat = 0..6)'
          = s.text_field :weekly, class: 'form-control'
        .form-group
          = s.label :is_auto_gen
          = s.select :is_auto_gen, [['manual', 0],['auto gen', 1]], {}, class: 'form-control'
        .form-group
          = s.label :days_in_advance, 'Max reservation days(0=default)'
          = s.text_field :days_in_advance, class: 'form-control'
      .col-md-6
        .form-group
          = s.label :has_seat_table
          = s.select :has_seat_table, [['no seat table', 0],['has seat table', 1]], {}, class: 'form-control'
        .form-group
          = s.label :is_float_price
          = s.select :is_float_price, [['cannot change price', 0],['can change price', 1]], {}, class: 'form-control'
