= f.fields_for :tour_price do |s|
  .row
    .col-md-6
      .form-group
        = s.label :price_adult
        = s.text_field :price_adult, class: 'form-control'
      .form-group
        = s.label :price_child
        = s.text_field :price_child, class: 'form-control'
      .form-group
        = s.label :single_charge
        = s.text_field :single_charge, :placeholder => 'Single room additional charge', :title => 'Single room additional charge', class: 'form-control'
      .form-group
        = s.label :forth_charge
        = s.text_field :forth_charge, :placeholder => 'The 4th charge', :title => 'The 4th people charge in a room', class: 'form-control'
    .col-md-6
      .form-group
        = s.label :price1
        = s.text_field :price1, :placeholder => '1 pax in a room', :title => 'The price of 1pax in a room. should be price + single charge', class: 'form-control'
      .form-group
        = s.label :price2
        = s.text_field :price2, :placeholder => 'double room price', :title => 'The price should be (2 x tour price)', class: 'form-control'
      .form-group
        = s.label :price3
        = s.text_field :price3, :placeholder => 'The price of 3pax in a room', :title => 'The price should be equal to price2 if B2G1F, or (3 x tour price)', class: 'form-control'
      .form-group
        = s.label :price4
        = s.text_field :price4, :placeholder => 'The price of 4PAX in a room', :title => 'The price should be (price3 + the forth charge)', class: 'form-control'
  %div
    Buy 2 get 1 free:
    \#{s.select :buy_two_get_one_free, [['No', 0],['Yes', 1]], {}, {:class => 'span2'}}
    .btn-group
      %a.btn.btn-default{:href => "#", :onclick => "caculate_tour_price();", :title => "caculate from price and charge TO ==> price1 ~ 4"}
        Caculate
        %i.icon-arrow-right
      %a.btn.btn-default{:href => "#", :onclick => "caculate_tour_price_rev();", :title => "caculate from price1 ~ 4 TO ==> price and charge"}
        %i.icon-arrow-left
        Caculate
