<% @object.build_tour_price if !@object.tour_price %>
<%= f.fields_for :tour_price do |s| %>
  <div class="row">
    <div class="span3">
      <%= s.label :price_adult %>
      <%= s.text_field :price_adult %>

      <%= s.label :price_child %>
      <%= s.text_field :price_child %>

      <%= s.label :single_charge %>
      <%= s.text_field :single_charge, :placeholder => 'Single room additional charge', :title => 'Single room additional charge' %>

      <%= s.label :forth_charge %>
      <%= s.text_field :forth_charge, :placeholder => 'The 4th charge', :title => 'The 4th people charge in a room' %>

    </div>
    <div class='span3'>
      <%= s.label :price1 %>
      <%= s.text_field :price1, :placeholder => '1 pax in a room', :title => 'The price of 1pax in a room. should be price + single charge' %>

      <%= s.label :price2 %>
      <%= s.text_field :price2, :placeholder => 'double room price', :title => 'The price should be (2 x tour price)' %>

      <%= s.label :price3 %>
      <%= s.text_field :price3, :placeholder => 'The price of 3pax in a room', :title => 'The price should be equal to price2 if B2G1F, or (3 x tour price)' %>

      <%= s.label :price4 %>
      <%= s.text_field :price4, :placeholder => 'The price of 4PAX in a room', :title => 'The price should be (price3 + the forth charge)' %>
    </div>
  </div>
  <div>
    Buy 2 get 1 free:
    <%= s.select :buy_two_get_one_free, [['No', 0],['Yes', 1]], {}, {:class => 'span2'} %>
    <div class='btn-group'>
      <a class='btn' href='#' onclick='caculate_tour_price();' title='caculate from price and charge TO ==> price1 ~ 4'>
        Caculate <i class='icon-arrow-right'></i>
      </a>
      <a class='btn' href='#' onclick='caculate_tour_price_rev();' title='caculate from price1 ~ 4 TO ==> price and charge'>
        <i class='icon-arrow-left'></i> Caculate
      </a>
    </div>
  </div>
<% end %>
