<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Data <span class="divider">/</span></li>
    <li><%= link_to 'Tours', tours_path %><span class='divider'>/</span></li>
    <li class="active">Generate schedules</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= icon_link_to 'Generate schedules for selected tours', '#', :class => 'btn btn-success', :icon => 'icon-plus', :onclick => 'generate_schedules()', :id => 'btn_auto_gen' %>
<% end %>
<section>
<p>
  <strong class='text-info larger'>Info:</strong> Automatic generate schedules from now to <span class='text-info'>"Days in advance"</span>, if set to <strong>0</strong> then using configuration: <span class='text-info'>"max_reservation_days" = </span><strong class='text-error'><%= cfg.get_config :max_reservation_days %></strong> <%= icon_link_to 'change', app_configurations_path, :class => 'btn btn-mini', :icon => 'icon-edit' %>
</p>
<table class="data-list table table-bordered table-striped" id="list_tours">
  <thead>
    <tr class='table-header'>
      <th>
        <label class='checkbox inline' id='cb_select_all'>
          <input type='checkbox' value='1' onchange="$('#list_tours tbody input[type=checkbox]').prop('checked', $(this).prop('checked'))">all
        </label>
      </th>
      <th>Title</th>
      <th>Weekly</th>
      <th>Days in advance</th>
      <th width='100'>Price</th>
      <th width='100'>last schedule</th>
      <th width='80'>op</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |tour| %>
      <%= render :partial => 'row_gen', :object => tour %>
    <% end %>
  </tbody>
</table>
</section>
<div style='position:fixed; top: 122px; left: 20px; width: 168px; border:solid 1px gray; background-color:lightyellow;padding:8px;display:none;cursor:pointer;' id='auto_gen_indicator' onclick='stop_auto_gen();'>
  Continue to generate next selected tours. <br /> <b>Click to stop</b>
</div>

