<%= content_for :breadcrumbs do %>
  Data &gt;
  Tours
<% end %>
<div class="toolbar">
  <ul class="actions">
  	<li>
  		<%= form_for( @search, :url => tours_path ) do |f| %>
        <%= f.select :tour_type_eq, InputType.get_list('tour').map{|t| [t.type_text, t.type_value]}.insert(0, ['All tours', nil]), {}, :class => 'data-field' %>
      <%= f.select :status_eq, [['All Status', nil],['show', 1], ['hide', 0]],{}, :class => 'data-field' %>
      <%= f.text_field :description_title_contains, :size => 15, :class => 'data-field' %>
  		<%= button 'search' %>
			<% end %>
  	</li>
    <li>
    <%= button_link_to 'New Tour', 'tours/new', {:remote => true, :icon => 'add', :id => 'new_tour'} %>
    </li>
  </ul>
  <div class='clear'></div>
</div>

<div class='data-pager'>
<%= will_paginate(@collection) %>
</div>
<table class="data-list" id="list_tours">
  <thead>
  <tr>
    <th><%= sort_link @search,:id, t(:id), {}, {:title => ''} %></th>
    <th>icon</th>
  	<th><%= sort_link @search,:title, t(:title), {}, {:title => 'tours_listing_title'} %></th>
	<th><%= sort_link @search,:tour_type, t(:tour_type), {}, {:title => ''} %></th>
	<th><%= sort_link @search,:days, t(:days), {}, {:title => ''} %></th>
	<th>weekly</th>
  <th>Price</th>
  <th>Single chg</th>
  <th>4th chg</th>
	<th><%= t("days_in_advance")%></th>
	<th><%= t("last_schedule_date")%></th>
	<th><%= sort_link @search,:status, t(:status), {}, {:title => ''} %></th>
  <th>operate</th>
  </tr>
</thead>
<tbody>
<% @collection.each do |tour| %>
	<%= render :partial => 'row', :object => tour %>
<% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>

