<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Data <span class="divider">/</span></li>
    <li class="active">Tours</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= form_for( @search, :url => tours_path ) do |f| %>
    <%= f.select :tour_type_eq, InputType.get_list('tour').map{|t| [t.type_text, t.type_value]}.insert(0, ['All tours', nil]), {}, :class => 'span2' %>
    <%= f.select :status_eq, [['All Status', nil],['show', 1], ['hide', 0]],{}, :class => 'span2' %>
    <div class='input-append'>
      <%= f.text_field :description_title_contains, :class => 'span2' %>
      <%= search_button %>
      <%= link_to_new 'New Tour', 'tours/new' %>
      <%= icon_link_to "Generate schedules", generate_tours_path, :icon => 'icon-share', :class => 'btn btn-info' %>
    </div>
  <% end %>
<% end %>
<section>
<div class='data-pager'>
  <%= will_paginate(@collection, :class => 'pagination pagination-mini') %>
</div>
<table class="data-list table table-bordered table-striped" id="list_tours">
  <thead>
    <tr class='table-header'>
      <th><%= sort_link @search,:id, 'ID', {}, {:title => ''} %></th>
      <th>Icon</th>
      <th>Title</th>
      <th>Price</th>
      <th>Weekly</th>
      <th>op</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |tour| %>
      <%= render :partial => 'row', :object => tour %>
    <% end %>
  </tbody>
</table>
<div class='data-pager'>
  <%= will_paginate(@collection) %>
</div>
</section>
