= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Data
      %span.divider /
    %li.active Tours
= content_for :search_box do
  = search_form_for @q, class: 'form-inline' do |f|
    .col-md-6
      .input-group
        .input-group-addon
          = f.select :tour_type_eq, InputType.get_list('tour').map{|t| [t.type_text, t.type_value]}.insert(0, ['All tours', nil]), {}, :onchange => "this.form.submit();" 
        = f.text_field :description_title_cont, :class => 'form-control', placeholder: 'Search tours'
        .input-group-btn
          = search_button 
          = link_to_new 'New Tour', 'tours/new'
          = icon_link_to "Generate schedules", generate_tours_path, :icon => 'icon-share', :class => 'btn btn-info'
%section
  .data-pager
    = will_paginate(@collection, :class => 'pagination pagination-mini')
  %table#list_tours.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th= sort_link @q,:id, 'ID', {}, {:title => ''}
        %th Icon
        %th Title
        %th Price
        %th op
    %tbody
      - @collection.each do |tour|
        = render :partial => 'row', :object => tour
  .data-pager
    = will_paginate(@collection)
