= content_for :breadcrumbs do
  %li Data
  %li.active Tours

= content_for :search_box do
  = search_form_for @q, class: 'form-inline' do |f|
    .col-md-6
      .input-group
        .input-group-addon
          = f.select :tour_type_eq, InputType.get_list('tour').map{|t| [t.type_text, t.type_value]}.insert(0, ['All tours', nil]), {}, :onchange => "this.form.submit();" 
        = f.text_field :description_title_cont, :class => 'form-control', placeholder: 'Search tours'
        .input-group-btn
          = search_button 
          = link_to_new 'New Tour', 'tours/new'
          = icon_link_to "Generate schedules", generate_tours_path, :icon => 'icon-share', :class => 'btn btn-info'

%h1.page-header
  Tours
  %small all tours
%section
  .panel.panel-inverse
    .panel-heading
      .btn-group.pull-right
        = link_to_new 'New', new_tour_path
      %h4.panel-title Tours
    .panel-body
      .data-pager
        = will_paginate(@collection, :class => 'pagination pagination-mini')
      %table#list_tours.data-list.table.table-hover.table-striped
        %thead
          %tr.table-header
            %th= sort_link @q,:id, 'ID', {}, {:title => ''}
            %th Icon
            %th Title
            %th Price
            %th op
        %tbody
          - @collection.each do |tour|
            = render :partial => 'row', :object => tour
      .data-pager
        = will_paginate(@collection)
