<tr id="<%= dom_id row%>">
  <td class='cell-middle'><%= row.id %></td>
  <td><%= link_to "#{row.address_data_type}: #{row.address_data_id}", edit_object_url(row.address_data), :remote => true %></td>
  <td><%= row.address1 %><br />
    <%= row.address2 %></td>
  <td><%= row.zipcode %></td>
  <td><%= row.city %>
  <td><%= time_tag row.created_at %><br />
    <%= time_tag row.updated_at %></td>
  <td class='cell-middle'>
      <%= row_link_to_edit row %>
  </td>
</tr>


