= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Orders
      %span.divider /
    %li
      = link_to 'Users', user_infos_path
      %span.divider /
    %li.active Addresses
= content_for :search_box do
  = search_form_for @q do |f|
    .col-md-4
      .input-group
        = f.text_field :address1_or_address2_cont, class: 'form-control', placeholder: 'Address'
        .input-group-btn
          = search_button
%section
  = will_paginate(@collection)
  %table#list_addresses.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th.cell-middle ID
        %th Ref.
        %th Address
        %th Zipcode
        %th City
        %th created/updated
        %th op
    - @collection.each do |d|
      = render :partial => 'row', :object => d
  = will_paginate(@collection)
