<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Orders <span class="divider">/</span></li>
    <li><%= link_to 'Users', user_infos_path %> <span class="divider">/</span></li>
    <li class="active">Addresses</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= form_for( @search, :url => addresses_path ) do |f| %>
    <div class='input-prepend input-append'>
      <span class='add-on'><i class='icon-envelop'></i></span>
      <%= f.text_field :address1_or_address2_contains %>
      <%= search_button %>
    </div>
  <% end %>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_addresses">
  <thead>
    <tr class='table-header'>
      <th class='cell-middle'>ID</th>
      <th>Ref.</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>created/updated</th>
      <th>op</th>
    </tr>
  </thead>
  <% @collection.each do |d| %>
    <%= render :partial => 'row', :object => d %>
  <% end %>
</table>
<%= will_paginate(@collection) %>
</section>
