<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><i class='glyphicon-0-15'></i>Pay Check</h3>
</div>
<div class="modal-body">
  <%= form_for([@order, @object], :remote => true) do |f| %>
    <div class='row'>
      <div class='span4'>


        <table>
          <tr>
            <td>Check number:</td>
            <td><%= f.text_field :check_number, :placeholder => 'input check number' %></td>
          </tr>
          <tr>
            <td>Amount:</td>
            <td><%= f.text_field :amount %></td>
          </tr>
          <tr>
            <td>Check received by:</td>
            <td>
              <%= render :partial => 'travel_admin/shared/select_employee', :locals => {:f => f, :field_name => :received_by_id , :role => '5'} %>
            </td>
          </tr>
          <tr>
            <td colspan='2' class='cell-middle'><span class='text-error' id='pcc_msg'></span></td>
          </tr>
        </table>


      </div>
      <div class='span4'>
        <table class='table table-bordered'>
          <tr>
            <td>Order</td>
            <td class='cell-middle' width='150'><%= @order.order_number %></td>
          </tr>
          <tr>
            <td>Order Amount</td>
            <td class='cell-right'><%= number_with_precision @order.order_price.actual_amount, :precision => 2 %></td>
          </tr>
          <tr>
            <td>Balance before</td>
            <td class='cell-right' id='tb_balance_before'><%= number_with_precision @order.order_price.balance_amount, :precision => 2 %></td>
          </tr>
          <tr>
            <td>Pay amount</td>
            <td id='tb_pay_amount' class='large-number cell-right'><%= @order.order_price.actual_amount %></td>
          </tr>
          <tr>
            <td>Balance after</td>
            <td id='tb_balance' class='cell-right large-number'>0.00</td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>

