  <tr id="<%= dom_id row %>" <%= 'class=deleted' if !row.status || row.status < 1 %>>
      <td class='cell-middle'><%= row.id %></td>
      <td><%= row.short_name %></td>
      <td><%= row.company_name %></td>
      <td><%= row.company_type %></td>
      <td><%= row.icon_url %></td>
      <td><%= row.website %></td>
    <td class="cell-middle">
    <div class='btn-group'>
      <%= row_link_to_edit row %>
      <%= row_link_to_photo company_photos_path(row) %>
      <%= row_link_to_hide row %>
    </div>
    </td>
  </tr>
