<tr id="#{dom_id row}" #{'class=deleted' if !row.status || row.status < 1}>
%td.cell-middle= row.id
%td= row.short_name
%td= row.company_name
%td= row.company_type
%td= row.icon_url
%td= row.website
%td.cell-middle
  .btn-group.btn-group-sm
    = row_link_to_edit row
    = row_link_to_photo company_photos_path(row)
    = row_link_to_hide row
