= content_for :breadcrumbs do
  %li Data
  %li.active Companies

= content_for :search_box do
  = search_form_for @q, class: 'form-inline' do |f|
    .form-group
      = f.select :company_type_eq, InputType.get_list('company').map{|t| [t.type_text, t.type_value]}.insert(0, ['All companies', nil]), {}, :class => 'form-control'
    .form-group
      = f.text_field :short_name_or_company_name_cont, :class => 'form-control'
    = search_button


%h1.page-header
  Companies
  %small all companies and agents.

%section
  .panel.panel-inverse
    .panel-heading
      .btn-group.pull-right
        = link_to_new 'Add', new_company_path
      %h4.panel-title Companies
    .panel-body
      = will_paginate @collection
      %table#list_companies.data-list.table.table-bordered.table-striped
        %thead
          %tr.table-header
            %th= t("id")
            %th= t("short_name")
            %th= t("company_name")
            %th= t('company_type')
            %th Logo
            %th= t('website')
            %th{style: 'width:140px;'}= t('op')
        - @collection.each do |c|
          = render :partial => 'row', :object => c
      = will_paginate @collection
