<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Data <span class="divider">/</span></li>
        <li class="active">Companies</li>
      </ul>
<% end %>
<%= content_for :search_box do %>
  		<%= form_for( @search, :url => companies_path ) do |f| %>
      <%= f.select :company_type_eq, InputType.get_list('company').map{|t| [t.type_text, t.type_value]}.insert(0, ['All companies', nil]), {}, :class => 'span2' %>
    <div class='input-append'>
      <%= f.text_field :short_name_or_company_name_contains, :class => 'span2' %>
      <%= search_button %>
      <%= link_to_new 'Add Company', new_company_path %>
    </div>
			<% end %>
<% end %>
<section>
<div class='data-pager'>
  <%= will_paginate(@collection, :class => 'pagination pagination-mini') %>
</div>
<table class="data-list table table-bordered table-striped" id="list_companies">
  <thead>
    <tr class='table-header'>
        <th><%= t("id") %></th>
        <th><%= t("short_name") %></th>
        <th><%= t("company_name") %></th>
        <th><%= t('company_type') %></th>
        <th>Logo</th>
        <th><%= t('website') %></th>
        <th><%= t('op') %></th>
    </tr>
  </thead>
<% @collection.each do |c| %>
  <%= render :partial => 'row', :object => c %>
<% end %>
</table>
<div class='data-pager'>
  <%= will_paginate(@collection, :class => 'pagination pagination-mini') %>
</div>
</section>
