<h1>New Invoice</h1>

<%
  invoice = Invoice.new
%>
<%= form_for [:admin, invoice], :remote => true do |f| %>
<%= f.hidden_field :company_id, :value => @object.id %>
<table class='border-table'>
  <thead>
  </thead>
  <tbody>
    <% @object.pay_companies.each do |pc| %>
      <tr>
        <td><%= check_box_tag "cb[#{pc.id}]" %></td>
      <td><%= pc.id %></td>
      <td><%= pc.amount %></td>
      <td><%= pc.company_discount %></td>
      <td><%= pc.additional_discount %></td>
      <td><%= pc.account_receivable %></td>
      <td><%= pc.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class='actions'>
  <%= f.submit %>
</div>
<% end %>
