%h1 New Invoice
- invoice = Invoice.new
= form_for [:admin, invoice], :remote => true do |f|
  = f.hidden_field :company_id, :value => @object.id
  %table.border-table
    %thead
    %tbody
      - @object.pay_companies.each do |pc|
        %tr
          %td= check_box_tag "cb[#{pc.id}]"
          %td= pc.id
          %td= pc.amount
          %td= pc.company_discount
          %td= pc.additional_discount
          %td= pc.account_receivable
          %td= pc.created_at
  .actions
    = f.submit
