<tr id="#{dom_id row}" #{'class=\'deleted\'' if !row.status || row.status < 1}>
%td= row.id
%td= row.short_name
%td= row.company_name
%td= row.company_type
%td= row.icon_url
%td= row.website
%td= row.status
%td.actions
  = link_to_edit row
  |
  \#{link_to_hide row, 'data-confirm' => 'Are you sure to hide/show this Agent?'}
