<tr id="<%= dom_id row%>">
  <td class='cell-middle'><%= row.id %></td>
  <td><%= row.email_address %></td>
  <td><%= row.email_data_type %></td>
  <td><%= row.email_data_id %></td>
  <td><%= row.created_at %></td>
  <td><%= row.updated_at %></td>
  <td class='cell-middle'>
    <div class='btn-group'>
      <%= row_link_to_edit row %>
      <%= icon_link_to 'User', object_url(row.email_data) + '/edit', :remote => true, :icon => 'icon-pencil' %> 
    </div>
  </td>
</tr>

