<tr id="<%= dom_id row%>">
  <td><%= row.id %></td>
  <td><%= row.email_address %></td>
  <td><%= row.email_data_type %></td>
  <td><%= row.email_data_id %></td>
  <td><%= row.created_at %></td>
  <td><%= row.updated_at %></td>
  <td>
    <%= link_to_edit row %> | 
    <%= link_to row.email_data_type, object_url(row.email_data) + '/edit', :remote => true %> 
  </td>
</tr>

