<tr id="<%= dom_id row%>">
  <td class='cell-middle'><%= row.id %></td>
  <td><%= row.email_address %></td>
  <td><%= link_to "#{row.email_data_type}: #{row.email_data_id}", edit_object_url(row.email_data), :remote => true %></td>
  <td><%= time_tag row.created_at %></td>
  <td><%= time_tag row.updated_at %></td>
  <td class='cell-middle'>
    <%= row_link_to_edit row %>
  </td>
</tr>

