= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Orders
      %span.divider /
    %li
      = link_to 'Users', user_infos_path
      %span.divider /
    %li.active Emails
= content_for :search_box do
  = search_form_for @q do |f|
    .col-md-4
      .input-group
        = f.text_field :email_address_cont, class: 'form-control', placeholder: 'Email'
        .input-group-btn
          = search_button
%section
  = will_paginate(@collection)
  %table#list_emails.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th ID
        %th Email
        %th Ref Data
        %th Created_at
        %th Updated_at
        %th op
    - @collection.each do |d|
      = render :partial => 'row', :object => d
  = will_paginate(@collection)
