<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Orders <span class="divider">/</span></li>
    <li><%= link_to 'Users', user_infos_path %> <span class="divider">/</span></li>
    <li class="active">Emails</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= form_for( @search, :url => emails_path ) do |f| %>
    <div class='input-prepend input-append'>
      <span class='add-on'>@</span>
      <%= f.text_field :email_address_contains %>
      <%= search_button %>
    </div>
  <% end %>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_emails">
  <thead>
    <tr class='table-header'>
      <th>ID</th>
      <th>Email</th>
      <th>Ref Data</th>
      <th>Created_at</th>
      <th>Updated_at</th>
      <th>op</th>
    </tr>
  </thead>
  <% @collection.each do |d| %>
    <%= render :partial => 'row', :object => d %>
  <% end %>
</table>
<%= will_paginate(@collection) %>
</section>

