= icon_link_remote 'contact', 'Edit Customer', edit_shop_order_path(@shop_order, :p => 'customer')
- if @shop_order.customer
- c = @shop_order.customer
  %table
    %tr
      %td{:width => "15%"} Full name
      %td.underline_field{:width => "35%"}
        = c.full_name
        (#{c.customer_id})
      %td{:width => "15%"} Tel
      %td.underline_field{:width => "35%"}= c.tel
    %tr
      %td Address
      %td.underline_field= c.bill_address
      %td Email
      %td.underline_field= c.email
