#order_prices
  %p
    Shop order id:
    \#{f.text_field :shop_order_id}
  %p
    num rooms:
    \#{f.text_field :num_rooms}
  %p
    num adult:
    \#{f.text_field :num_adult}
  %p
    num child:
    \#{f.text_field :num_child}
  %p
    num total:
    \#{f.text_field :num_total}
  %p
    total amount:
    \#{f.text_field :total_amount}
  %p
    adjustment amount:
    \#{f.text_field :adjustment_amount}
  %p
    credit amount:
    \#{f.text_field :credit_amount}
  %p
    payment amount:
    \#{f.text_field :payment_amount}
  %p
    balance amount:
    \#{f.text_field :balance_amount}
  %p
    created at:
  %p
    updated at:
