#order_head
  .order_number
    = image_tag "/barcode/T#{"%06d" % @shop_order.id}"
    %br/
    Tour Order: T#{"%06d" % @shop_order.id}
  .logo
    = image_tag 'website/AEtravel.png', :style => 'height:36px;margin-right:10px;'
  .clear
#schedule_title
  = icon_link_remote 'document', 'Change Schedule', schedules_path + '/select'
  - if @shop_order.order_source_type == 'Operates::Schedule' && @shop_order.order_source_id
    = render :partial => 'travel_admin/schedules/schedule_title', :locals => {:s => Operates::Schedule.find(@shop_order.order_source_id) }
%div
  title
  State: #{@shop_order.state}
  Created by: #{@shop_order.created_by}
  Operator: #{@shop_order.operator}
  Created at: #{@shop_order.created_at}
  Updated at: #{@shop_order.updated_at}
