<%= form_for( [@parent, @object], :remote => true) do |f| %>
  <div class="container">
    <div class='span-8'>
      <%= f.field_container :account_type do %>
        <%= f.label :account_type %><br />
        <%= f.select :account_type, %w{PayCash PayCreditCard PayCheck PayVoucher PayCompany} %>
      <% end %>

      <%= f.field_container :account_brief do %>
        <%= f.label :account_brief %><br />
        <%= f.text_field :account_brief %>
      <% end %>
    </div>
    <div class='span-8 last'>
    </div>   
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



