%tr{id: dom_id(row)}
  %td.cell-middle= row.id
  %td= row.owner
  %td= row.account_type
  %td= row.account_brief
  %td= row.balance
  %td= row.status
  %td= row.created_at
  %td= row.updated_at
  %td.cell-middle
    = icon_link_to '', account_path(row), icon: 'fa fa-list-alt'
    = icon_link_to '', to_company_transfers_path(account_id: row), icon: 'fa fa-sign-in'
