<tr id="<%= dom_id row%>">
  <td class='cell-middle'><%= row.id %></td>
  <td><%= row.owner_type %></td>
  <td><%= row.owner_id %></td>
  <td><%= row.account_type %></td>
  <td><%= row.account_brief %></td>
  <td><%= row.balance %></td>
  <td><%= row.status %></td>
  <td><%= row.created_at %></td>
  <td><%= row.updated_at %></td>
  <td class='cell-middle'>
    <%= icon_link_to '', account_path(row), :icon => 'icon-list-alt' %> 
  </td>
</tr>

