= content_for :breadcrumbs do
  %li Accounts
  %li.active Accounts List

= content_for :search_box do
  = search_form_for(@q, class: 'form-inline') do |f|
    .col-md-4
      .input-group
        = f.text_field :account_brief_cont, class: 'form-control', placeholder: 'Search account'
        .input-group-btn
          = search_button

%h1.page-header
  Accounts
  %small all accounts.

%section
  .panel.panel-inverse
    .panel-heading
      %h4.panel-title Accounts
    .panel-body
      = will_paginate(@collection)
      %table#list_accounts.data-list.table.table-bordered.table-striped
        %thead
          %tr.table-header.cell-middle
            %th id
            %th name
            %th pay method
            %th brief
            %th balance
            %th status
            %th created_at
            %th updated_at
            %th op
        - @collection.each do |d|
          = render :partial => 'row', :object => d
      = will_paginate(@collection)


