<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Accounts <span class="divider">/</span></li>
    <li class="active">Accounts List</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= form_for( @search, :url => accounts_path ) do |f| %>
    <div class='input-prepend input-append'>
      <span class='add-on'>Account</span>
      <%= f.text_field :account_brief_contains %>
      <%= search_button %>
    </div>
  <% end %>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_accounts">
  <thead>
    <tr class='cell-middle'>
      <th>id</th>
      <th>type</th>
      <th>related id</th>
      <th>name</th>
      <th>brief</th>
      <th>balance</th>
      <th>status</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>op</th>
    </tr>
  </thead>
  <% @collection.each do |d| %>
    <%= render :partial => 'row', :object => d %>
  <% end %>
</table>
<%= will_paginate(@collection) %>
</section>

