<h1>Account: <%= @object.account_type %></h1>
<p class='note-text'>
  current balance:<span class='strong'><%= @object.balance %></span>
</p>
      <table class='data-list'>
        <thead>
          <tr>
            <th>Method</th>
            <th>before</th>
            <th>Amount</th> 
            <th>after</th> 
            <th>Operator</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @object.payments.each do |p| %>
            <tr id='<%= dom_id(p) %>'>
              <td><%= p.pay_method_type %></td>
              <td><%= p.account_balance_before %></td>
              <td><%= p.amount %></td>
              <td><%= p.account_current_balance %></td>
              <td>
              <%= p.operator.nickname if p.operator %></td>
            <td><%= time_tag p.updated_at, :class => 'local-datetime' if p.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
