%tr{:id => dom_id location}
  %td= location.id
  %td= location.abbr
  %td= location.title
  %td= location.title_cn
  %td
    = link_to 'Show', admin_location_path(location)
    |
    \#{link_to 'Edit', edit_admin_location_path(location), :remote => true} |
    \#{link_to 'Destroy', admin_location_path(location), :confirm => 'Are you sure?', :method => :delete, :remote => true}
