= form_for( @object, :remote => true) do |f|
  .container
    .span-8
      = f.field_container :title do
        = f.label :title
        %br/
        = f.text_field :title
      = render :partial => 'travel_admin/shared/status', :locals => {:f => f}
  .actions
    = f.submit
