.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h4.modal-title Add Bus
    .modal-body
      = form_for( [@schedule, @object], :remote => true) do |f|
        .form-group
          = f.label :bus
          = f.select(:bus_id, @object.valid_buses_list, {include_blank: true}, class: 'form-control')
        .row
          .col-md-6
            .form-group
              = f.label :driver_id
              = f.select :driver_id, [], {}, class: 'form-control'
            .form-group
              = f.label :driver_assistance_id
              = f.select :driver_assistance_id, [], {}, class: 'form-control'
          .col-md-6
            .form-group
              = f.label :tour_guide_id
              = f.select :tour_guide_id, [], {}, class: 'form-control'
            .form-group
              = f.label :tour_guide_assistance_id
              = f.select :tour_guide_assistance_id, [], {}, class: 'form-control'
          = f.submit class: 'hidden'
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
