<%= form_for( [@schedule, @object], :remote => true) do |f| %>
  <div>
      <%= f.field_container :bus do %>
        <%= f.label :bus %><br />
        <%= f.select(:bus_id, @object.valid_buses_list, {:include_blank => true}) %>  	
      <% end %>
  </div>
  <div class='container'>
    <div class='span-8'>
      <%= f.field_container :driver_id do %>
        <%= f.label :driver_id %><br />
        <%= f.select :driver_id, [] %>  	
      <% end %>
      <%= f.field_container :driver_assistance_id do %>
        <%= f.label :driver_assistance_id %><br />
        <%= f.select :driver_assistance_id, [] %>  	
      <% end %>
    </div>
    <div class='span-8 last'>
      <%= f.field_container :tour_guide_id do %>
        <%= f.label :tour_guide_id %><br />
        <%= f.select :tour_guide_id, [] %>  	
      <% end %>
      <%= f.field_container :tour_guide_assistance_id do %>
        <%= f.label :tour_guide_assistance_id %><br />
        <%= f.select :tour_guide_assistance_id, [] %>  	
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
