- css = ''
- if i > assignment.total_seats
  - css = 'unav'
- elsif seat
  - if seat.order
    - if seat.order.order_detail && seat.order.order_detail.from_agent
      - css = 'agent'
    - elsif seat.order.status == 3
      - css = 'fpaid'
    - elsif seat.order.status == 2
      - css = 'paid'
    - else
      - css = 'sold'
  - else
    - css = 'hold'
- else
  - css = 'blnk'

%td{:class => "seat-td #{css}", :id => "seat_#{i}"}
  .seat
    .seat-check
      - unless css == 'unav'
        %label.checkbox.inline
          <input type="checkbox" name="seats[#{i}]" id="cb_#{i}" #{"hold_id=#{seat.order_id}" if seat && seat.state == 'hold'}>
          \#{i}
    .seat-pickup
      - if seat
        - if seat.order
          = seat.order.order_detail.pickup
          %br/
          - if seat.order.order_detail && seat.order.order_detail.from_agent
            = label_tag nil, "A:" +  seat.order.order_detail.from_agent.short_name, :title => seat.order.order_detail.from_agent.company_name, :class => 'text-success'
        = seat.message
    .seat-info
      - if seat
        - if seat.order
          - if !seat.order.status || seat.order.status < 2
            = link_to seat.order.order_number, edit_order_path(seat.order), :remote => true
          - else
            = link_to seat.order.order_number, order_path(seat.order), :target => 'edit-win'
          (#{seat.order.order_price.num_total if seat.order.order_price}p)
          %br/
          - if seat.order.order_detail
            = seat.order.order_detail.full_name
            %br/
            = number_to_phone(seat.order.order_detail.telephone)
        - else
          - if seat.state == 'hold'
            = link_to 'check', "javascript:check_hold(#{seat.order_id})"
            %br/
          = seat.customer_name
          %br/
          = number_to_phone(seat.telephone)
      \&nbsp;
