var edit_div = "edit_schedule_assignment_div";
if ($('#'+edit_div).length == 0){
  $('#page_main').append("<div id='"+ edit_div +"'></div>");
  $('#'+edit_div).dialog({ autoOpen:false, width:700, dialogClass:'shadow', modal:true});
}

$('#'+edit_div)
	.html("<%= j render(:partial => "form") %>")
	.dialog('option', 'title', 'Edit Schedule assignment <%= @object.id%>#')
	.dialog('open');

var driver_list = <%=raw @object.valid_employee_list('2') %>;
var tourguide_list = <%=raw @object.valid_employee_list('3') %>;

bind_driver_selection();
bind_tourguide_selection();
$('#schedule_assignment_driver_id').val(<%= @object.driver_id %>);
$('#schedule_assignment_driver_assistance_id').val(<%= @object.driver_assistance_id %>);
$('#schedule_assignment_tour_guide_id').val(<%= @object.tour_guide_id %>);
$('#schedule_assignment_tour_guide_assistance_id').val(<%= @object.tour_guide_assistance_id %>);
