= content_for :head_js do
  = javascript_include_tag 'admin/seat_table'

= content_for :breadcrumbs do
  %li Data
  %li= link_to 'Tours', tours_path
  %li= link_to 'Schedules', schedules_path
  %li.active Seats

%h1.page-header
  Schedule:
  %small schedule seats
%section
  .panel.panel-inverse
    .panel-heading
    .panel-body
      #schedule_title
        = render :partial => 'travel_admin/schedules/schedule_title', :locals => {:s => @schedule}
        = hidden_field_tag 'assignment_id', @object.id
      #unseat_orders
        = render 'travel_admin/schedules/orders', :orders => @schedule.orders

  .panel.panel-inverse
    .panel-heading
    .panel-body.bg-grn
      %ul#list_emps.nav.nav-tabs
        - @schedule.assignments.each do |ass|
          - busname = ass.bus ? ass.bus.name : '<NA>'
          - if ass.id == @object.id
            %li.active
              %a{:href => "#"}= busname
          - else
            %li= link_to "#{busname}", schedule_schedule_assignment_path(@schedule, ass)
      = render :partial => 'seats', :locals => {:schedule => @schedule, :assignment => @object}

