.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3#myModalLabel
    Edit Configuration# #{@object.id}
.modal-body
  = form_for( @object, :remote => true) do |f|
    .row
      .span4
        = f.field_container :key do
          = f.label :key
          %br/
          = f.text_field :key
        = f.field_container :title do
          = f.label :title
          %br/
          = f.text_field :title
        = f.field_container :val do
          = f.label :val
          %br/
          = f.text_field :val
        Created at: #{@object.created_at}
        %br/
        Updated at: #{@object.updated_at}
        %br/
      .span4
.modal-footer
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
  %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
