%tr{id: dom_id(row)}
  %td.cell-middle= row.id
  %td= row.key
  %td= row.title
  %td= row.val
  %td= row.parent_id
  %td= row.created_at
  %td= row.updated_at
  %td.cell-middle
    = row_link_to_edit row
