<%= content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li>Manage <span class="divider">/</span></li>
    <li class="active">Configurations</li>
  </ul>
<% end %>
<%= content_for :search_box do %>
  <%= form_for( @search, :url => app_configurations_path ) do |f| %>
    <div class='input-prepend input-append'>
      <span class='add-on'><i class='icon-tag'></i></span>
      <%= f.text_field :key_contains %>
      <%= search_button %>
      <%= link_to_new 'Add', new_app_configuration_path %>
      <%= icon_link_to 'Reload', app_configurations_path + '/reload', :icon => 'icon-refresh', :remote => true %>
    </div>
  <% end %>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_app_configurations">
  <thead>
    <tr class='table-header'>
      <th>id</th>
      <th>key</th>
      <th>title</th>
      <th>val</th>
      <th>parent</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>op</th>
    </tr>
  </thead>
  <% @collection.each do |d| %>
    <%= render :partial => 'row', :object => d %>
  <% end %>
</table>
<%= will_paginate(@collection) %>
</section>

