= form_for( @object, :remote => true) do |f|
  .container
    .span-8
      = f.field_container :message do
        = f.label :title
        %br/
        = f.text_field :message
      - unless @object.new_record?
        Notes: #{link_to 'Add', todo_remarks_path(@object) + '/new', :remote => true}
        %br/
        - @object.remarks.each do |note|
          %p
            = note.note_text
            %br/
            = note.employee_info_id
            , #{note.created_at}
    .span-8.last
      = f.field_container :due_date do
        = f.label :due_date
        %br/
        = f.text_field :due_date, :class => 'date-picker'
      = f.field_container :level do
        = f.label :level
        %br/
        = f.select :level, InputType.get_list('todo.level').map{|t| [t.type_text, t.type_value]}, {}, :class => 'data-field'
      %br/
      %br/
      .actions
        = f.submit
