.container
  .small.toolbar
    From:
    %span.strong= @object.employee_info.nickname
    %br/
    To:
    \#{link_to 'Add', object_url(@object) + '/add_employee', :remote => true}
    %span#list_todo_workers.strong
      = render :partial => 'row_workers', :locals => {:workers => @object.todo_workers}
  %div{:style => "float:left;margin-right:10px;background-color:#c8e0c0;border:solid 1px white; font-size:12px;padding:2px;"}
    = type_text.get_text('todo.level', @object.level)
  %h2
    = @object.message
  %div
    Notes: #{link_to 'Add', todo_remarks_path(@object) + '/new', :remote => true}
    %br/
    %table#list_remarks.data-list
      - @object.remarks.each do |note|
        %tr
          %td= note.employee_info_id
          %td
            = note.note_text
            %br/
            %span.strong= note.created_at
