- tt = TypeText.instance

.row
  .col-md-6
    .panel.panel-inverse
      .panel-heading
        %h4.panel-title Employee info
      .panel-body
        = cl_image_tag(detail_info.title_photo.public_id, width:320, height: 180, crop: :fill) if detail_info.title_photo
        %table.table.table-strip
          %tr
            %td Company:
            %td= detail_info.company.company_name if detail_info.company
          %tr
            %td Name:
            %td= detail_info.nickname
          %tr
            %td Employ from:
            %td= detail_info.employ_date
          %tr
            %td Birthday:
            %td= detail_info.birthday
          %tr
            %td tel:
            %td= detail_info.telephone
          %tr
            %td email:
            %td= detail_info.email
          %tr
            %td address:
            %td= detail_info.address
        %p
          Created at: #{time_tag detail_info.created_at}
          Last updated: #{time_tag detail_info.updated_at if detail_info.updated_at}

        %strong Login account:
        - if detail_info.employee
          = render :partial => 'travel_admin/employees/employee', :object => detail_info.employee
        - else
          Cannot login. #{icon_link_to 'Create login', new_employee_info_employee_path(detail_info), :remote => true, :icon => 'icon-add'}
  .col-md-6
    .panel.panel-inverse
      .panel-heading
        %h4.panel-title Account info
      .panel-body
        %table.table-strip
          - detail_info.accounts.each do |account|
            %tr
              %td= account.account_type
              %td= account.account_brief
              %td= account.balance
              %td= time_tag account.updated_at
