<% tt = TypeText.instance %>
<div>
<br />
<table>
  <tr>
    <td width='330'>
      <%= image_tag detail_info.title_photo.pic.url(:small), :class => 'img-polaroid' if detail_info.title_photo %>
    </td>
    <td style='padding:6px;'>
      <table padding='4' class='table table-bordered'>
        <tr>
          <td width='100'>Company:</td>
          <td width='300'><%= detail_info.company.company_name if detail_info.company %></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><%= detail_info.nickname %></td>
        </tr>
        <tr>
          <td>Employ from:</td>
          <td><%= detail_info.employ_date %></td>
        </tr>
        <tr>
          <td>Birthday:</td>
          <td><%= detail_info.birthday%></td>
        </tr>
      </table>
        Created at: <%= time_tag detail_info.created_at %>
        Last updated: <%= time_tag detail_info.updated_at if detail_info.updated_at %>
        <br /><strong>Login account:</strong>
      <% if detail_info.employee %>
        <%= render :partial => 'travel_admin/employees/employee', :object => detail_info.employee %>
      <% else %>
        Cannot login. <%= icon_link_to 'Create login', new_employee_info_employee_path(detail_info), :remote => true, :icon => 'icon-add'  %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
</table>
<br />

    Contact info:<br />
    <table class='border-table'>
      <% detail_info.telephones.each do |tel| %>
        <tr>
          <td width='200'>Tel(<%= tel.tel_type %>)</td>
          <td width='430'><%= tel.tel %></td>
        </tr>
      <% end %>
      <% detail_info.emails.each do |email| %>
        <tr>
          <td>Email</td>
          <td><%= email.email_address %></td>
        </tr>
      <% end %>
      <% detail_info.addresses.each do |addr| %>
        <tr>
          <td>Address</td>
          <td><%= addr %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <table class='border-table'>
      <thead>
        <tr>
          <th>Type</th>
          <th>brief</th>
          <th>Balance</th>
          <th>Last updated</th>
        </tr>
      </thead>
      <tbody>
        <% detail_info.accounts.each do |account| %>
          <tr>
            <td><%= account.account_type %></td>
            <td><%= account.account_brief %></td>
            <td><%= account.balance %></td>
            <td><%= time_tag account.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>



