.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h4.modal-title
        Edit Employee info# #{@object.id}
    .modal-body
      = simple_form_for( @object, :remote => true) do |f|
        = f.input :ssn
        = f.input :employ_date, as: :string, input_html: {class: 'date date-picker'}
        = f.input :birthday, as: :string, input_html: {class: 'date date-picker'}

        Roles:
        %br/
        - InputType.get_list('roles').each do |role|
          .checkbox.checkbox-inline.checkbox-success
            = check_box_tag "roles[#{role.type_value}]", 1, @object.roles && @object.roles.include?(role.type_value), {:id => dom_id(role)}
            %label{for: "#{dom_id(role)}"}= role.type_text
        %br/
        %br/
        Status:
        %br/
        .radio.radio-inline.radio-success
          = f.radio_button :status, '1', id: 'status_1'
          %label{for: 'status_1'} On duty
        .radio.radio-inline.radio-warning
          = f.radio_button :status, '0', id: 'status_0'
          %label{for: 'status_0'} Leaved
        = f.submit class: 'hidden'
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
