<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit Employee info# <%= @object.id %></h3>
</div>
<div class="modal-body">
<%= form_for( @object, :remote => true) do |f| %>
  <div class="row">
  	<div class='span4'>
	  <%= f.field_container :company_id do %>
	  	<%= f.label :company_id %>
			<%= f.select :company_id, Company.all.map { |c| [c.short_name, c.id] }, {}, :class => 'data-field' %>
	  <% end %>
	  <%= f.field_container :nickname do %>
	  	Employee name
	  	<%= f.text_field :nickname %>
	  <% end %>
    </div>
    <div class='span4'>
	  	Telephones:
      <%= add_object_js_link 'Add', f, :telephones, 'travel_admin/user_infos/form_tel', '#tels'  %>
      <br /> 
      <div id='tels'>
        <%= f.fields_for :telephones do |tel_form| %>
        	<%= render :partial => 'travel_admin/user_infos/form_tel', :locals => { :f => tel_form} %>
        <% end %>
      </div><hr />
	  	Emails:
      <%= add_object_js_link 'Add', f, :emails, 'travel_admin/user_infos/form_email', '#emails'  %>
      <br /> 
      <div id='emails'>
        <%= f.fields_for :emails do |email_form| %>
        	<%= render :partial => 'travel_admin/user_infos/form_email', :locals => { :f => email_form} %>
        <% end %>
      </div>
      <hr />
	  	Addresses:
      <%= add_object_js_link 'Add', f, :addresses, 'travel_admin/user_infos/form_address', '#addresses'  %>
      <br /> 
      <div id='addresses'>
        <%= f.fields_for :addresses do |adr_form| %>
        	<%= render :partial => 'travel_admin/user_infos/form_address', :locals => { :f => adr_form} %>
        <% end %>
      </div>

    </div>
	</div>
<% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>


