.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h4.modal-title
        Edit Employee info# #{@object.id}
    .modal-body
      = simple_form_for( @object, :remote => true) do |f|
        = f.association :company
        = f.input :nickname
        = f.input :telephone
        = f.input :email
        = f.input :address

        = f.input :ssn
        = f.input :birthday
        = f.input :employ_date
        = f.submit class: 'hidden'
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes

