<%= form_for( @object, :remote => true) do |f| %>
  <div class="container">
  	<div class='span-8'>
      
	  <%= f.field_container :ssn do %>
	  	<%= f.label :ssn %><br />
	  	<%= f.text_field :ssn %>
	  <% end %>
	  <%= f.field_container :employ_date do %>
	  	<%= f.label :employ_date %><br />
      <%= f.text_field :employ_date, :class => 'date-picker' %>
	  <% end %>
	  <%= f.field_container :birthday do %>
	  	<%= f.label :birthday %><br />
      <%= f.text_field :birthday, :class => 'date-picker' %>
	  <% end %>

      Roles<br />
      <% InputType.get_list('roles').each do |role| %>
        <%= check_box_tag "role[#{role.type_value}]", 1, @object.roles && @object.roles.include?(role.type_value), {:id => dom_id(role), :onchange => 'roles_changed();'} %>
        <%= label_tag dom_id(role), role.type_text %>
      <% end %>
    </div>
	</div>


  <%= render :partial => 'travel_admin/shared/status', :locals => {:f => f} %> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

