<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit Employee# <%= @object.id %></h3>
</div>
<div class="modal-body">
<%= form_for( @object, :remote => true) do |f| %>
  <div>
  	<div>
      
	  <%= f.field_container :ssn do %>
	  	<%= f.label :ssn %>
	  	<%= f.text_field :ssn %>
	  <% end %>
	  <%= f.field_container :employ_date do %>
	  	<%= f.label :employ_date %>
      <%= date_text_field(f, :employ_date) %>
	  <% end %>
	  <%= f.field_container :birthday do %>
	  	<%= f.label :birthday %>
      <%= date_text_field(f, :birthday) %>
	  <% end %>

    Roles: <br />
      <% InputType.get_list('roles').each do |role| %>
        <label class='checkbox inline' style='white-space:nowrap;'>
          <%= check_box_tag "role[#{role.type_value}]", 1, @object.roles && @object.roles.include?(role.type_value), {:id => dom_id(role), :onchange => 'roles_changed();'} %>
          <%= role.type_text %>
        </label>
      <% end %>
    </div>
	</div>
  <%= render :partial => 'travel_admin/shared/status', :locals => {:f => f} %> 
<% end %>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>


