- tt = TypeText.instance
<tr id="#{dom_id row_doc}" #{'class=deleted' unless row_doc.status && row_doc.status == 1}>
%td.cell-middle= row_doc.id
%td= row_doc.nickname
%td= tt.get_texts('roles', row_doc.roles)
%td= row_doc.employee.login_name if row_doc.employee
%td= row_doc.employ_date
%td= row_doc.ssn
%td= row_doc.employee.sign_in_count if row_doc.employee
%td= row_doc.status
%td.cell-middle
  .btn-group
    = icon_link_to 'Detail', employee_info_photos_path(row_doc), :icon => 'icon-list-alt', :target => 'edit-win'
    - if !params[:s]
      = row_link_to_hide row_doc
    - elsif params[:s] == 'hide'
      = icon_link_to 'Del', employee_info_path(row_doc), :icon => 'icon-remove', :remote => true, :method => :delete, :confirm => 'Are you sure to delete this employee'
