<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Manage <span class="divider">/</span></li>
        <li class="active">Employees</li>
      </ul>
<% end %>
<%= content_for :search_box do %>
  <%= link_to_new 'Add Employee', new_employee_info_path %>
<% end %>
<section>
<ul class="nav nav-tabs" id='list_emps'>
  <% @ecs.each do |e| %>
    <li <%= "class=active" if e.company_id == @cid %>>
      <a href="docs?c=<%= e.company_id %>"><%= e.company ? e.company.short_name : '(empty)' %>:<%= e.count %>p</a>
    </li>
  <% end %>
</ul>

<div class="btn-group" data-toggle="buttons-checkbox" style='margin-bottom:10px;'>
  <%= link_to 'Current Employees', docs_employee_infos_path(:c => @cid), :class => @btn_css[0] %>
  <%= link_to 'Disabled Employees', docs_employee_infos_path(:c => @cid, :s => 'hide'), :class => @btn_css[1] %>
  <%= link_to 'Deleted Employees', docs_employee_infos_path(:c => @cid, :s => 'del'), :class => @btn_css[2] %>
</div>
<% if @employee_infos %>
  Total: <b><%= @employee_infos.count %></b> person.
<table class="data-list table table-bordered table-striped" id="list_employee_infos">
  <thead>
  <tr class='table-header'>
      <th><%= t("id") %></th>
      <th><%= t("name") %></th>
      <th><%= t("roles") %></th>
      <th>Login</th>
      <th>Employ Date</th>
      <th>SSN</th>
      <th>Login count</th>
      <th><%= t('status') %></th>
      <th width='100'>op</th>
  </tr>
  </thead>
  <tbody>
<% @employee_infos.each do |e| %>
  <%= render :partial => 'row_doc', :object => e %>
<% end %>
  </tbody>
</table>
<% end %>
</section>
