= content_for :breadcrumbs do
  %li Data
  %li.active Employees

%section
  %ul#list_emps.nav.nav-tabs
    - @ecs.each do |e|
      <li #{"class=active" if e.company_id == @cid}>
      %a{:href => "employee_infos?c=#{e.company_id}"}
        = e.company ? e.company.short_name : '(empty)'
        \:#{e.count}p
  - if @employee_infos
    %table#list_employee_infos.data-list.table.table-hover.table-striped
      %thead
        %tr.table-header
          %th= t("id")
          %th= t("login")
          %th= t("name")
          %th= t("roles")
          %th= t('telephone')
          %th= t('email')
      %tbody
        - @employee_infos.each do |emp|
          = render partial: "row", object: emp
