<table class='border-table'>
  <tr>
    <td width='200'>photo</td>
    <td style='padding:6px;' class='border-table'>
      <table padding='4'>
        <tr>
          <td width='100'>Company:</td>
          <td width='300'><%= @object.company.company_name if @object.company %></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><%= @object.nickname %></td>
        </tr>
        <tr>
          <td>Employ from:</td>
          <td><%= @object.employ_date %></td>
        </tr>
        <tr>
          <td>Age:</td>
          <td><%= Time.now.year - @object.birthday.year if @object.birthday %> (<%= @object.birthday %>)</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
