%table.table.table-bordered
  %tr
    %td{:width => "120"} Login name:
    %td= employee.login_name
  %tr
    %td Sign in count:
    %td= employee.sign_in_count
  %tr
    %td Current sign in at:
    %td= employee.current_sign_in_at
  %tr
    %td Current sign in IP:
    %td= employee.current_sign_in_ip
  %tr
    %td Last sign in at:
    %td= employee.last_sign_in_at
  %tr
    %td Last sign in IP:
    %td= employee.last_sign_in_ip
