<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Employee's Login </h3>
</div>
<div class="modal-body">
<%= form_for( [@employee_info, @object], :remote => true) do |f| %>
  <%= f.label :login_name %>
  <%= f.text_field :login_name %><br />

  <%= f.label :email, 'Email (for retrive password)' %>
  <%= f.text_field :email %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

<% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save</button>
</div>


