.yui-g
  .yui-u.first
    %p
      = label_tag :company_id
      = @object.company_id
    %p
      = label_tag :nickname
      = @object.nickname
    %p
      = label_tag :employ_date
      = @object.employ_date
  .yui-u
    %p
      = label_tag :ssn
      = @object.ssn
    %p
      = label_tag :birthday
      = @object.birthday
    %p
      = label_tag :status
      = @object.status
