.modal-dialog
  .modal-content
    .modal-header 
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h4.modal-title Edit Schedule# #{@object.id}
    .modal-body
      = simple_form_for( @object, :remote => true) do |f|
        = f.simple_fields_for :price do |fp|
          .row
            .col-md-6
              = fp.input_field :price_adult
              = fp.input :price_child
            .col-md-6
              = fp.input :price1
              = fp.input :price2
              = fp.input :price3
              = fp.input :price4
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
