%tr{:id => dom_id(row) }
  %td.cell-middle.large-number= link_to row.id, schedule_path(row)
  %td
    %span.tour-name= row.tour.description.title_cn
    %br/
    = row.tour.description.title
  %td.cell-middle= row.tour.days
  %td.cell-middle
    - if row.price
      = number_with_precision row.price.price1, :precision => 2
      ,
      \#{number_with_precision row.price.price2, :precision => 2}
      %br/
      = number_with_precision row.price.price3, :precision => 2
      ,
      \#{number_with_precision row.price.price4, :precision => 2}
    - else
      [no price]
  %td.cell-middle
    = row.departure_date
    %br/
    = row.return_date
  %td.cell-middle= row.status
