<% if !@gen_schedule %>
<div class='toolbar'>
  <ul class='actions'>
  	<li>
  		Last generated schedules at: <%= cfg.get_config(:last_generated_schedules_at) %>
  		&nbsp;&nbsp;
  	</li>
    <li>
      <%= button_link_to "Generate schedules", 'javascript:start_generate_schedules();', { :icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>
<% end %>
<h1>Gen schedules</h1>
<% @messages.each do |msg| %>
<ul class="gen">
	<li class="gen-tour gen-new"><%= msg[0] %></li>
	<li class="gen-title"><%= msg[1] %></li>
	<li class="gen-days">
		<ul>
			<% msg[2].each do |d| %>
			<li><%= d %></li>
			<% end %>
		</ul>
	</li>
	<li class="clear"></li>
</ul>
<% end %>

<div class='fixed' id='gen_schedules_operate_box'>
  <%= button_link_to 'Stop Generate!', 'javascript:gen_schedules_cancle_operate();', { :icon => 'stop', :id => 'stop_generate'} %>
</div>
