<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Data <span class="divider">/</span></li>
        <li class="active">Schedules</li>
      </ul>
<% end %>
<%= content_for :search_box do %>
    <%= form_for(@search, :url => schedules_path) do |f| %>
    <div class='input-prepend input-append'>
      <span class='add-on'>From</span>
      <%= f.text_field :departure_date_greater_than_or_equal_to, :class => 'span2 date-picker' %> 
      <span class='add-on'>To</span>
      <%= f.text_field :departure_date_less_than_or_equal_to, :class => 'span2 date-picker' %>
      <%= search_button %>
      <%= icon_link_to "Generate schedules", 'schedules/generate', :icon => 'icon-share', :class => 'btn btn-success' %>
      <%= icon_link_to "Add schedule", new_schedule_path, :icon => 'icon-plus', :remote => true, :class => 'btn btn-info' %>
    </div>
    <% end %>  
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_schedules">
  <thead>
  <tr class='table-header'>
      <th><%= t("schedule_id") %></th>
      <th><%= t("tour") %></th>
      <th><%= t("days") %></th>
      <th>Price</th>
      <th>Departure</th>
      <th>Tour Guide</th>
      <th>Driver</th>
      <th>Status</th>
  </tr>
</thead>
<tbody>
<% @collection.each do |s| %>
	<%= render :partial => 'row', :object => s %>
<% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>
</section>
