= content_for :breadcrumbs do
  %li Data
  %li.active Schedules

= content_for :search_box do
  = search_form_for @q, class: 'form-inline'  do |f|
    .col-md-4
      .form-group
        .input-group
          %span.input-group-addon From
          = f.text_field :departure_date_gteq, :class => 'form-control date-picker', placeholder: 'Date from'
          %span.input-group-addon To
          = f.text_field :departure_date_lteq, :class => 'form-control date-picker'
          .input-group-btn
            = button_tag(type: 'submit', class: "btn btn-default") do
              %i.icon-search

%h1.page-header
  Schedules
  %small bus schedules, packages and curises.

%section
  %ul#list_emps.nav.nav-tabs
    - type_text.get_types('tour').each do |t|
      <li #{"class=active" if t.type_value.to_i == @tt.to_i}>
      \#{link_to t.type_text, schedules_path(:tour_type => t.type_value)}

  .panel.panel-inverse
    .panel-body
      = will_paginate(@collection)
      %table#list_schedules.data-list.table.table-hover.table-striped
        %thead
          %tr.table-header
            %th= t("schedule_id")
            %th= t("tour")
            %th= t("days")
            %th Price
            %th Departure / Return
            %th Status
        %tbody
          - @collection.each do |s|
            = render :partial => 'row', :object => s
      = will_paginate(@collection)
