= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Data
      %span.divider /
    %li.active Schedules
= content_for :search_box do
  %form.form-inline{:role => "form"}
    .col-md-6
      .form-group
        %label.sr-only{:for => "exampleInputEmail2"} Email address
        %input#exampleInputEmail2.form-control{:placeholder => "Enter email", :type => "email"}
      .form-group
        %label.sr-only{:for => "exampleInputPassword2"} Password
        %input#exampleInputPassword2.form-control{:placeholder => "Password", :type => "password"}
      .checkbox
        %label
          %input{:type => "checkbox"}
            Remember me
      %button.btn.btn-default{:type => "submit"} Sign in


  = search_form_for @q, class: 'form-inline'  do |f|
    .col-md-6
      .form-group
        .label 
          From
          = f.text_field :departure_date_gteq, :class => 'form-control date-picker', placeholder: 'Date from'
          To
          = f.text_field :departure_date_lteq, :class => 'form-control date-picker'
      .form-group
        = search_button
%section
  %ul#list_emps.nav.nav-tabs
    - type_text.get_types('tour').each do |t|
      <li #{"class=active" if t.type_value.to_i == @tt.to_i}>
      \#{link_to t.type_text, schedules_path(:tour_type => t.type_value)}
  = will_paginate(@collection)
  %table#list_schedules.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th= t("schedule_id")
        %th= t("tour")
        %th= t("days")
        %th Price
        %th Departure / Return
        %th Status
    %tbody
      - @collection.each do |s|
        = render :partial => 'row', :object => s
  = will_paginate(@collection)
