<table class="data-list table table-bordered table-striped table-condensed" id="list_schedule_orders">
  <thead>
    <tr class='table-header'>
      <th>Order#</th>
      <th>Customer</th>
      <th>Telephone</th>
      <th>Pick up</th>
      <th>Person</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Seat</th>
    </tr>
  </thead>
  <tbody>
    <% 
      biz = Biz::OrderPayment.new
      orders = @object.orders
      orders.includes(:order_detail, :order_price, :bus_seats).each do |order| 
         biz.caculate_price(order) unless order.order_price
  %>
      <tr id="<%= dom_id order %>" >
        <td class='cell-middle'>
          <%= link_to order.order_number, edit_order_path(order), :remote => true %>
        </td>
        <td><%= order.order_detail.full_name if order.order_detail %></td>
        <td><%= order.order_detail.telephone if order.order_detail %></td>
        <td><%= order.order_detail.pickup if order.order_detail %></td>
        <td><%= order.order_price.num_total if order.order_price %></td>
        <td><%= order.status %></td>
        <td><%= order.updated_at %></td>
        <td><a href='javascript:void(0)' onclick='assign_seat(<%= order.id %>);'>seat</a></td>
      </tr>
    <% end %>
  </tbody>
  </table>


