<%= content_for :head do %>
  <%= javascript_include_tag 'admin/seat_table' %>
<% end %>
<div id='schedule_title'>
  <%= render :partial => 'travel_admin/schedules/schedule_title', :locals => {:s => @object} %>
</div>
<div>
  <%= icon_link_to 'Add bus', new_schedule_schedule_assignment_path(@object) + "?schedule_id=#{@object.id}", :remote => true, :icon => 'icon-plus-sign' %>
</div>
<section>
<div id='unseat_orders'>
  <%= render 'travel_admin/schedules/orders', :orders => @object.orders %>
</div>
</section>
