= content_for :head do
  = javascript_include_tag 'admin/seat_table'

#schedule_title
  = render :partial => 'schedule_title', :locals => {:s => @object}

%div
  = icon_link_to 'Add bus', new_schedule_schedule_assignment_path(@object) + "?schedule_id=#{@object.id}", :remote => true, :icon => 'fa fa-plus'

%section
  #unseat_orders
    = render 'orders', :orders => @object.orders
