!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      admin-#{@title}
    = favicon_link_tag
    %link{:href => "/css/blueprint/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "/css/blueprint/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
        /[if lt IE 8]
          <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
        %link{:href => "/css/jquerytools/my_jquerytools.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
          %link{:href => "/css/jqueryui/ui.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
            = stylesheet_link_tag    "admin/admin", :media => "all"
            = stylesheet_link_tag '/css/superfish/superfish'
            = javascript_include_tag "admin/admin"
            = javascript_include_tag '/css/xheditor/xheditor-1.1.14-zh-cn.min', '/css/superfish/hoverIntent', '/css/superfish/superfish'
            = csrf_meta_tags
            = render 'travel_admin/shared/head_script'
            = yield :head
  %body
    #page_container
      #page_head
        = image_tag 'logo.png', :class => 'logo'
        #progress
          = image_tag 'admin/progress.gif'
          = t(:loading)
          \...
        = render 'travel_admin/shared/main_menu'
        #login
          - if current_employee
            Welcome #{link_to current_employee.employee_info.nickname, employees_path} |
            \#{link_to 'Logout', main_app.destroy_employee_session_path, :method => :delete}
      #page_breadcrumbs
        = yield :breadcrumbs
      #page_main.use-sidebar.sidebar-at-right
        #contents
          - if flash[:error]
            .flash.error= flash[:error]
          - if notice
            .flash.notice= notice
          = yield
        #sidebar
          #quick_go.zone
            %table.compact{:style => "width:auto;"}
              %tr
                %td Tour:
                %td
                  %input#qg_tour{:onkeypress => "return quick_go_enter(this);", :size => "5", :type => "text"}/
                %td= image_tag 'admin/go.gif', :onclick => 'quick_go_tour();'
              %tr
                %td Schedule:
                %td
                  %input#qg_schedule{:onkeypress => "return quick_go_enter(this);", :size => "5", :type => "text"}/
                %td= image_tag 'admin/go.gif', :onclick => 'quick_go_schedule();'
              %tr
                %td Order:
                %td
                  %input#qg_order{:onkeypress => "return quick_go_enter(this);", :size => "5", :type => "text"}/
                %td= image_tag 'admin/go.gif', :onclick => 'quick_go_order();'
          #todos.zone
          #last_logs.zone
        %a#separator{:href => "#"}
        .clear
      #page_foot
        = render 'travel_admin/shared/footer'
