- if detail.description
  %h2
    #{detail.description.title}, #{detail.description.title_cn}
  .row
    .col-md-6
      .well
        .small-image-left
          = image_tag detail.title_photo.pic.url(:small) if detail.title_photo
        = raw detail.description.en
        .clear
    .col-md-6
      .well
        = raw detail.description.cn
      = button_link_to_edit detail
