<% if detail.description %>
  <h2><%= detail.description.title%>, <%= detail.description.title_cn %></h2>
  <div class='small-image-left'>
    <%= image_tag detail.title_photo.pic.url(:small) if detail.title_photo %>
  </div>
  <pre>
      <%=raw detail.description.cn %>
  </pre>
  <br />
  <pre>
      <%=raw detail.description.en %>
  </pre>
<% end %>

<br />
<%= button_link_to_edit detail %>
