- if detail.description
  %h2
    = detail.description.title
    , #{detail.description.title_cn}
  .small-image-left
    = image_tag detail.title_photo.pic.url(:small) if detail.title_photo
  %pre
    = raw detail.description.cn
  %br/
  %pre
    = raw detail.description.en
%br/
= button_link_to_edit detail
