- @object.build_description if @object.new_record?
.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h4.modal-title 
        Edit Destination (#{@object.id}# #{@object.tag_name})
    .modal-body
      = simple_form_for(@object, :remote => true) do |f|
        = f.input :tag_name
        = f.fields_for :description do |desc|
          .row
            .col-md-6
              = desc.input :title
              = desc.input :en, input_html: {rows: 15}
            .col-md-6
              = desc.input :title_cn
              = desc.input :cn, input_html: {rows: 15}
        = f.input :status, collection: [['Show', 1],['Hide', 0]]
        = f.submit class: 'hidden'
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal"} Close
      %button.btn.btn-primary{:onclick => "submit_dialog_form(this)"} Save changes
 
