<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Data <span class="divider">/</span></li>
        <li class="active">Destinations</li>
      </ul>
<% end %>
<%= content_for :search_box do %>
	<%= form_for( @search, :url => destinations_path ) do |f| %>
    <div class='input-prepend input-append'>
      <span class='add-on'>Title</span>
      <%#= f.text_field :description_title_or_description_title_cn_contains, :class => 'span2' %>
      <%= search_button %>
      <%= link_to_new 'New Destination', 'destinations/new' %>
    </div>
  <% end %>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_destinations">
  <thead>
  <tr class='table-header'>
    <th>ID</th>
    <th width='50'>Photo</th>
	<th>Title</th>
	<th><%= t("city")%></th>
	<th><%= t("status")%></th>
  <th width='160'>operate</th>
  </tr>
</thead>
<tbody>
<% @collection.each do |d| %>
	<%= render :partial => 'row', :object => d %>
<% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>
</section>

