= content_for :breadcrumbs do
  %li.active Destinations

= content_for :page_header do
  Destinations
  %small all destinations list here for edit.

%section
  = will_paginate(@collection)
  = link_to_new 'New Destination', new_destination_path
  %table#list_destinations.data-list.table.table-hover.table-striped
    %thead
      %tr.table-header
        %th ID
        %th{:width => "50"} Photo
        %th Title
        %th= t("city")
        %th= t("status")
        %th{:width => "160"} operate
    %tbody
      - @collection.each do |d|
        = render :partial => 'row', :object => d
  = will_paginate(@collection)

