= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      Data
      %span.divider /
    %li.active Destinations

= content_for :search_box do
  = search_form_for @q, class: 'form-inline' do |f|
    .col-md-4
      .input-group
        = f.text_field :description_title_cont, class: 'form-control', placeholder: 'Search destinations'
        .input-group-btn
          = search_button 
          = link_to_new 'New Destination', 'destinations/new'

%section
  = will_paginate(@collection)
  %table#list_destinations.data-list.table.table-bordered.table-striped
    %thead
      %tr.table-header
        %th ID
        %th{:width => "50"} Photo
        %th Title
        %th= t("city")
        %th= t("status")
        %th{:width => "160"} operate
    %tbody
      - @collection.each do |d|
        = render :partial => 'row', :object => d
  = will_paginate(@collection)

